<script type="text/javascript">
		var flashvars = {};
		flashvars.flipxml = "http://newport-beach.heroku.com/services/<%= params[:category] %>/<%= service_swf.name %>/feed.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "opaque";
		attributes.id = "category_<%= service_swf.name  %>";
		var params = {}
		params.allowscriptaccess = "always";
		swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/FlipUltimo2.swf", "category_<%= service_swf.name  %>", "495", "180", "9", "/swf/expressInstall.swf", flashvars,params, attributes);
 </script>

<li >
<div style="">	<div id="category_<%= service_swf.name  %>" ></div></div>
</li>
