<div id="left-side">
	<div id="title">
		<h5><%= @page.title %>  <% if @category.parent %> > <%= @category.parent.title %><% end %>  <%= @category.title%></h5>
	</div>
	
	<div id="side-nav">
		<hr/>
		<ul class="submenu">
			<%= render :partial => "shared/services_sidenav", :object => @categories %>
		</ul>
		<hr />
		<div id="leftswfcontainer" style="float:left;height:196px">
		<%= render :partial =>"shared/keepdiscovering" %>

		<%= render :partial=>"shared/polaroid"%>
		</div>
		<%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-top:8px;" %>
		<hr />
		<%= render :partial =>"shared/leftside/chatlive" %>
		<%= render :partial =>"shared/leftside/sharethis" %>
		<%= render :partial =>"shared/leftside/marketreport" %>
		<%= render :partial => "shared/leftside/relocate" %>
	</div>

	<div id="main" class="properties">
		<h1 class="regular"><%= @category.title %> </h1>
		<%= image_tag @category.main.url(:large),:id=>"mainpic" %>
		<%= @category.description %>
		<div id="main_bottom" class="main_border other">	</div>
	</div>
	<% if @subcats.length > 0 %>	
	<div id="services">
		<div class="top"></div>
		<ul>
			<%= render :partial => "service_swf", :collection => @subcats %>
		</ul>
	
		<div class="bottom"></div>
	</div>
	<% end %>
</div>


<div id="right-column" class="<% if @page.name == "home" %>home<% end %>">
	<div id="searchbox" 	class="<% if @page.name != "home" %>advanced<% end %>">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	
		<%= render :partial => "shared/services_right_tool" %>

</div>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {

	/*$('.styled').combobox();*/
	aux = $("#main p:first").html();
	$("#main p:first").html("");
	$("#mainpic").appendTo("#main p:first");
	$("#main p:first").append(aux);
	$("#mainpic").show();

	$("#services ul li:first").css('margin-bottom',"15px");
	$("#main_bottom").appendTo($("#main"));
	set_nav_pointer("services");
});
</script>
<% end %>
