<div id="left-side">
	<div id="title">
		<h5><%= @page.title %>  <% if @category.parent %> > <%= @category.parent.title %><% end %> > <%= @category.title%></h5>
	</div>
	
	<div id="side-nav">
		<hr/>
		<ul class="submenu">
			<%= render :partial => "shared/services_sidenav", :object => @categories %>
		</ul>
	</div>

	<div id="main" class="properties">
		<h1 class="regular"><%= @category.title %> </h1>
		<%= image_tag @category.main.url(:large),:id=>"mainpic" %>
		<%= @category.description %>
		<div id="main_bottom" class="main_border other">	</div>
	</div>
	<div id="services">
		<div class="top"></div>
		<ul>
			<%= render :partial => "service_swf", :locals =>{:category => "hotela"} %>
		</ul>
		<% if @subcats.size > 0 %>
			<% for sub in @subcats %>
					<% unless sub.name == "hotela" %><%= link_to image_tag(sub.photo.url(:large)), services_sub_path(@category.name, sub.name) %><% end %>
			<% end %>
		<% else %>
			<%= image_tag(@category.photo.url(:large))%>
		<% end %>
		<div class="bottom"></div>
	</div>
</div>


<div id="right-column" class="<% if @page.name == "home" %>home<% end %>">
	<div id="searchbox" 	class="<% if @page.name != "home" %>advanced<% end %>">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	
		<%= render :partial => "shared/services_right_tool" %>

</div>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {

	$('.droppies').combobox();
//	front_paragraph_chop();
	

	aux = $("#main p:first").html();
	$("#main p:first").html("");
	$("#mainpic").appendTo("#main p:first");
	$("#main p:first").append(aux);
	$("#mainpic").show();


	$("#main_bottom").appendTo($("#main"));
	set_nav_pointer("services");
});
</script>
<% end %>