<%= f.error_messages %>

<p><% image_tag @page.page_featured_photo.public_filename if @page.page_featured_photo %></p>

 <p>
   <%= f.label :name %><br />
   <%= f.text_field :name %>
 </p>
 <p>
   <%= f.label :title %><br />
   <%= f.text_field :title %>
 </p>
 <p>
   <%= f.label :body %><br />
   <%= f.text_area :body %>
 </p>
<p>
	<%= f.collection_select :parent_id, Page.find(:all), :id, :title, :include_blank => true%>
</p>
<p>
	 <%= f.label :position %><br />
     <%= f.text_field :position, :size => "3" %>
</p>
<p>
	 <%= f.label :navlabel %><br />
     <%= f.text_field :navlabel  %>
</p>
<p>
	  <%= f.label :featured %><br/>
  	  <%= f.check_box(:featured)
	   %>
</p>
<p>
	  <%= f.label :thumb %><br/>
  	  <%= f.file_field(:thumb) %>

</p>

<p>
	  <%= f.label :main %><br/>
  	  <%= f.file_field(:main) %>

</p>
	
