<% unless page.parent_id == nil %>

<tr class="parent_<%= page.parent_id %> <% unless params[:parent] %>subcategory<% end %>">
<% else %>

<tr>
<% end %>

	<td><% unless page.parent_id == nil %> - <% end %><%=h page.name %></td>

	<td width="400px"><%=h truncate(page.title, 15) %></td>


	<td>
	<table class="nolines">
		<tr>
			<td><%= link_to image_tag ('system/buttons/search.jpg', :height => "15px", :title => t('options.show')), admin_page_path(page) %></td><td>&nbsp;|&nbsp;</td>
			<td><%= link_to image_tag ('system/buttons/edit.jpg', :height => "15px", :title => t('options.edit')), edit_admin_page_path(page) %></td><td>&nbsp;|&nbsp;</td>
			<td><%= link_to image_tag ('system/buttons/delete.jpg', :height => "15px", :title => t('options.delete')), admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	</table>	
	</td>
	<td style="text-align:right;">
		<% if page.subpages.size > 0  %>
			<%= link_to image_tag("system/buttons/subarrow.png", :width=> "35px"),{:controller => "pages", :action => "index", :parent => page.id}, :title => "#{page.name} sublevel" %>
		<% end %>
		<% if page.name == "properties"  %>
			<%= link_to image_tag("system/buttons/subarrow.png", :width=> "35px"),{:controller => "properties", :action => "index"}, :title => "properties sublevel" %>
		<% end %>
		<% if page.name == "services"  %>
			<%= link_to image_tag("system/buttons/subarrow.png", :width=> "35px"),{:controller => "services", :action => "index"}, :title => "services sublevel" %>
		<% end %>
	</td>
</tr>

<%= render :partial => "page", :collection => page.subpages %>

