<div id="side-nav">
	<ul>
		<%= render :partial => "shared/admin/pages_sidenav" %>
	</ul>
</div>

<div id="subcontent">
	<h1><%= t('pages.index.title')%> <b><%= " :"+@parent.name if params[:parent]%></b></h1>

	<table>
	  <tr>
			  <td class="tableheader"><%= t('headerlist.name')%></td>
				<td>&nbsp;|&nbsp;</td>	   
			  <td class="tableheader"><%= t('headerlist.title')%></td>
				<td>&nbsp;|&nbsp;</td>
			  <td class="tableheader"><%= t('headerlist.body')%></td>
			<td class="tableheader"><%= t('headerlist.options')%></td>
				<td>&nbsp;|&nbsp;</td>
			  <td class="tableheader">Sublevel</td>
	  </tr>
	
		<%= render :partial => "page", :collection => @pages %>

	</table>
	<br />
	
</div>	
