<div id="side-nav">
	<ul>
		<li><%= link_to 'Delete all images', admin_gallery_path(@gallery), :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
</div>



<h1>Admin::Galleries#show</h1>
<p> <%= @gallery.title %> (<%= @gallery.uploads.size %>)<br>

</p>
<ul id="tasks_list">
<%= render :partial=>"row", :collection => @uploads %>
</ul>

<% form_for :upload,@upload, :url=>{:controller=>"uploads",:action=>"create"},:html => { :multipart => true,  :id=>"new_upload_form"} do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
 <p>
 		<%= f.file_field :photo 
%> 
 </p>
  	
 	<%= f.hidden_field :gallery_id, :value => @gallery.id %>
  	
 	<%= hidden_field_tag :format, 'js' %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


	<% content_for(:script) do %>
		<script type="text/javascript">
		    $(document).ready(function(){
		    	SexyLightbox.initialize({color:'white'});
	
				$('#tasks_list').sortable(
				      {
				        axis: 'y', 
				        dropOnEmpty:false, 
				        handle: '.handle', 
				        cursor: 'crosshair',
				        items: 'li',
				        opacity: 0.4,
				        scroll: true,
				        update: function(){
				          $.ajax({
				              type: 'post', 
				              data: $('#tasks_list').sortable('serialize') + '&id=<%=@gallery.id-%>', 
				              dataType: 'script', 
				              complete: function(request){
				                  $('#tasks_list').effect('highlight');
				                },
				              url: '/admin/galleries/prioritize_uploads'})
				          }
       
				});


				});
		
		</script>
	<% end %>
<iframe id="iframe_upload" name="iframe_upload" style="display: none"></iframe>
