<%= f.error_messages %>

 <p>
   <%= f.label :description %><br />
   <%= f.text_area :description %>
 </p>
 <p>
   <%= f.label :keywords %><br />
   <%= f.text_area :keywords %>
 </p>
 <p>
  
   	<% if controller.action_name == 'new' %>
			<% if @page %><%= @page.id %>		<%= f.hidden_field :page_id, :value=> @page.id %> <% end %>
			<% if @service %><%= @service.id %>		<%= f.hidden_field :category_id, :value=> @service.id %> <% end %>
			<% if @property %><%= @property.id %>		<%= f.hidden_field :property_id, :value=> @property.id %> <% end %>
		<% end %>
	
	
 </p>
