<div style="padding: 5px 40px;">
<% form_tag session_path do -%>
<p style="float:left;width:100px;margin:5px 0px;"><%= label_tag 'login' %></p>
<p style="float:left;margin:5px 0; "><%= text_field_tag 'login', @login %></p>

<p style="float:left;width:100px;margin:5px 0px;"><%= label_tag 'password' %></p>
<p style="float:left;margin:5px 0;"><%= password_field_tag 'password', nil %></p>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p style="float:right;padding-right:30px;"><%= submit_tag 'Log in' %></p>
<% end -%>
</div>
