<div id="side-nav">
	<ul>
		<li><%= link_to 'back', :back %></li>
	</ul>
</div>
<div id="main">
	<h1>Editing Partner: <%= @partner.title %> (id#  <%= @partner.id %>)</h1>

	<% form_for @partner, :url => {:action => "update"}  do |f| %>	
	 <%= f.error_messages %> 
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

	<%= link_to 'Back',:back %>
</div>
