<html>
	<head>
	</head>	
	<body>
			<ul>
			<li><%= @contact.name %>	<%= @contact.surname %> </li>
			<li><%= @contact.telephone %> 	<%= @contact.email %></li>
			<li><%= @contact.interested_in %></li>
			<li><%= @contact.property_type %></li>
			<li><%= @contact.country %></li>
			<li><%= @contact.state %></li>
			<li><%= @contact.city %></li>
			<li><%= @contact.beds %></li>
			<li><%= @contact.baths %></li>
			<li><%= @contact.price_range %></li>
		</ul>
		<p>
			<%= @contact.message %>
		</p>

	</body>	
</html>

		
