<html>
	<head>
		
	</head>	
	<body>
	<table cellspacing="0" cellpadding="0" border="1" width="100%" style="margin:0px auto;padding: 0px;font-family:Verdana;font-size: 10px">		
	<tr><td>

	<table cellspacing="0" cellpadding="5" border="0" width="546px" style="margin:0px auto; background:transparent;font-size: 10px">
				<tr><td>Name</td><td>:</td><td><%= @appform.first_name %>	<%= @appform.last_name %> </td></tr>
				<tr><td>Telephone & email</td><td>:</td><td><%= @appform.telephone %> 	<%= @appform.email %></td></tr>
				<tr><td>Street</td><td>:</td><td><%= @appform.add_street %></td></tr>
				<tr><td>City</td><td>:</td><td><%= @appform.add_city %></td></tr>
				<tr><td>Job</td><td>:</td><td><%= @appform.job_id %></td></tr>
				<tr><td>Current position</td><td>:</td><td><%= @appform.current_position %></td></tr>
				<tr><td>Desired income</td><td>:</td><td><%= @appform.desired_income %></td></tr>
				<tr><td>RE know how</td><td>:</td><td><%= @appform.re_know_how %></td></tr>
				
				<tr><td>Qualifications</td><td>:</td><td><%= @appform.qualifications %></td></tr>
				<tr><td>Education</td><td>:</td><td><%= @appform.education %></td></tr>
				<tr><td>University</td><td>:</td><td><%= @appform.university %></td></tr>
				<tr><td>Other</td><td>:</td><td><%= @appform.other %></td></tr>
				<tr><td>englsih</td><td>:</td><td>fluent <%= @appform.lang_eng_fluent %> good <%= @appform.lang_eng_good %></td></tr>
				<tr><td>german</td><td>:</td><td>fluent <%= @appform.lang_ger_fluent %> good <%= @appform.lang_ger_good %></td></tr>
				<tr><td>spanish</td><td>:</td><td>fluent <%= @appform.lang_spa_fluent %> good <%= @appform.lang_spa_good %></td></tr>
				<tr><td>Other</td><td>:</td><td><%= @appform.lang_other %></td></tr>
				<tr><td>Reason</td><td>:</td><td><%= @appform.reason %></td></tr>
	</table>
	</body>	
</html>

		
