<html>
	<head>
	</head>	
	<body>
		

	<table cellspacing="0" cellpadding="0" border="1" width="100%" style="margin:0px auto;padding: 0px;font-family:Verdana;font-size: 10px">		
	<tr><td>
			<table cellspacing="0" cellpadding="5" border="0" width="600px" style="margin:0px auto; background:transparent;">
				<tr><td><h1 style="font-size: 20px">Contact Form</h1></td></tr>
				<tr><td>Hi <%= @contact.name %>,Thanks for joining our service! Please check back often.	</td></tr>
							
				<tr><td><%= @contact.name %>	<%= @contact.surname %> </td></tr>

				<tr><td><%= @contact.telephone %> 	<%= @contact.email %></td></tr>
				<tr><td><%= @contact.interested_in %></td></tr>
				<tr><td><%= @contact.property_type %></td></tr>
				<tr><td><%= @contact.country %></td></tr>
				<tr><td><%= @contact.state %></td></tr>
				<tr><td><%= @contact.city %></td></tr>
				<tr><td><%= @contact.beds %></td></tr>
				<tr><td><%= @contact.baths %></td></tr>
				<tr><td><%= @contact.price_range %></td></tr>
				<tr><td><%= @contact.message %></td></tr>
			</table>
	</td></tr>
	</table>
	</body>	
	</body>	
</html>

		
