<div id="side-nav">
	<ul>
			<li><%= link_to 'back',  :back %></li>
	</ul>
</div>


	<h1>Listing types of developments (total: <%= @types.size %>)</h1>
	<div id="itsthetable">	
	<hr />
	<table>
	  <thead>
	    <th class="tableheader">id</th>
	
	    <th class="tableheader">Title</th>

		  <th class="tableheader">Options</th>
	  </thead>

	<% @types.each do |type| %>
	  <tr>
	    <td class="tableheader"><%= type.id %></td>

	    <td class="tableheader"><%= type.title %></td>
		
		<td>
			<%= link_to image_tag ('system/buttons/edit.jpg', :height => "15px", :title => "edit"),edit_admin_type_path(type) %> |
			<%= link_to image_tag ('system/buttons/delete.jpg', :height => "15px", :title => "edit"),admin_type_path(type),:method=>"delete" %>
		</td>
	  </tr>
	<% end %>
	</table>
	<hr />
	</div>	

