<% title "Overview"%>

<div class="overview">
	<p><%= t "overview.static_pages" %>: <%= @pages.size %></p>
	<p><%= t "overview.service_categories" %>: <%= @categories.size %></p>	
	<p><%= t 'overview.countries' %>: <%= @countries.size %></p>
	<p><%= t 'overview.properties' %> <%= @properties.size %></p>
	<p><%= t 'overview.facilities' %>: <%= @facilities.size %></p>
</div>