

<h1 class="title">Become an E&V Newport Beach member </h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<div id="user_space" style="width:600px">
<p>If you are interested in any of our properties or services why not <a onclick="window.open('http://chatserver.comm100.com/ChatWindow.aspx?siteId=25828&planId=368&visitType=1&byHref=1','livechat','width=500,height=450');" href="#" class="live">
		CHAT LIVE </a> now or <%= link_to "CONTACT US", "/contact", :target=>"_blank" %>. Our friendly agents are always ready to help you with any of your real estate queries.</p>
<p>
Become an Engel & Voelkers member and recieve a wealth of information on exciting real estate opportunities in your area and so much more. The perfect solution for those looking to buy, sell or rent a property anywhere in locations across the globe..</p>
<p>Reasons To Join Engel & Voelkers:</p>
<ul style="margin-left:25px;">
<li>Find out whats moving in your area</li><li>

Check out our latest properties all over the US</li><li>

Compare property prices with the rest of the world as we send you the very best properties from around the world</li><li>

Take advantage of our <%= link_to "CONCIERGE", "/services/concierge" %>/<%= link_to "HOME SERVICES PROGRAMME", "/services/concierge" %> and receive special discounted rates</li><li>

Be the first to know about new <%= link_to "HOME SERVICES PROGRAMME", "/services/concierge" %> and all the latest technology</li><li>

Stay ahead of the game with our Monthly Market Watch</li><li>

Have YOUR SAY through our worldclass SOCIAL MEDIA platform</li><li>

Be part of the Engel & Voelkers club and learn globally</li><li>

400 Shops, 35 Countries, 5 Continnts
</li><li>
<b>ACT LOCAL - THINK GLOBAL</b></li>
</ul>
<p style="margin-bottom:35px">Join now and enter the wonderful world of Engel & Voelkers

</p>
<p><%= label_tag 'login' %><br/>
<%= f.text_field :login %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<%= f.hidden_field 'role_ids', :value => "4" %>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'telephone' %><br/>
<%= f.text_field :telephone %></p>

<h2 class="title">MAILING LIST</h2>
<p style="width:250px"><%= f.check_box :mailing %>Tick to Join our Mailing List and receive alert on new properties as they hit the market</p>
<%= recaptcha_tags %>
<p><%= submit_tag 'Sign up' %></p>
</div>

<% end -%>
<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	

});
</script>

<% end %>
