		<div id="property_header">
			<h1><%= property.title %></h1>
			<p class="code">Property code: #CA8900-<%= property.id %></p>
			<p class="address"><%= property.subtitle %> </p>
			<p class="state"><%= image_tag property.location.country.flag.url(), :width => "20px", :style => "float:left;margin-top: 4px;margin-right:10px" %> <%= number_to_currency(property.price,:precision => 0) %> </p>
			<ul class="facility">
				<li class="number"><p> <%= property.bedrooms %></p></li>
				<li class="bed"></li>
				<li class="number"><p> <%= property.bathrooms %></p></li>
				<li class="bath"></li>
				<li class="number"><p><%= property.garage %></p></li>
				<li class="garage"></li>
			</ul>
		</div>
		<hr/>
		<div id="property_content">
			<%= property.description%>
		</div>
		<div id="facility_list">
			<div class="top"></div>
			<h3><span class="title">facilities</span></h3>
			<ul>
			<% for facility in property.facilities %>
				<li><%= facility.title %></li>
			<% end %>
			</ul>
			<div class="bottom"></div>		
		</div>
		<div id="comunicate" class="<% unless property.featured == true %>nonfeatured<% end %>"
			<table>
				<tr>
					<td class="chat">			<%= link_to "chat","#" , :onclick=>"window.open('http://chatserver.comm100.com/ChatWindow.aspx?siteId=25828&planId=368&visitType=1&byHref=1','livechat','width=500,height=450');" %></td>
					<td class="spacer"> </td>
					<td class="contact">	<%= link_to "contact","/contact" ,:target=>"_blank" %></td>
				</tr>	
			</table>	
		<%= link_to "download pdf", property.pdf.url(:original) if property.pdf.url(:original) != "/pdfs/original/missing.png" %>
		</div>
		<hr />
		<div class="further">
			<p>Further details of this property are available exclusively through E&V.</p>
		</div>
		<hr />
		<div class="further">
			<p>Land size: <%= property.plot %> ft.</p>
		
			<p>Built size: <%= property.built %> f.t</p>
		</div>
		<hr />
	 	<%= @map.div(:width => 419, :height => 317) %>
		<hr />
		<div class="further">
			<h3>You may also be interested</h3>		
		</div>
		<%= render :partial => "youmaylike" %>
