<div id="left-side" class="properties">
	<div id="side-nav" class="properties">
		<%= render :partial => "shared/home_sidenav" %>
		<%= render :partial => "shared/tool_set" %>
	</div>


	<div id="main">
		<div class="top">	</div>
		<h3><span class="title"><%= @page.title %></span></h3>
		<ul id="search_options" style="display:none">
			<li id="id">156</li>		
			<li id="referal"><%= controller.action_name %></li>
			<li id="price_order"></li>
			<li id="date_order"></li>
			<li id="order"></li>
			<li id="page"><%= params[:page] || 1 %></li>
			<li id="sort_by"><%= params[:sort_by] %></li>
		</ul>
		<hr />
		<ul id="view_options">
			<li class="first"><span>View Options</span></li>
			<li class="buy">
				<% if params[:filter]=="buy"%>
					<%= link_to "Buy", "#", :class => "active" %>				
				<% else %>
					<%= link_to "Buy", properties_filter_path("buy")  %>				
				<% end %>
			<li class="rent">
				<% if params[:filter]=="rent"%>
					<%= link_to "Rent", "#", :class => "active" %>				
				<% else %>
					<%= link_to "Rent", properties_filter_path("rent")  %>				
				<% end %>		
			</li>
			<li class="price">
				<% if params[:filter]=="featured"%>
					<%= link_to "Featured", "#", :class => "active" %>				
				<% else %>
					<%= link_to "Featured", featured_path  %>				
				<% end %>		
			</li>
			<li class="price">
				<% unless params[:filter] %>
					<%= link_to "Price", properties_order_path(@order) %>
				<% else %>
					<%= link_to "Price", properties_filter_order_path(params[:filter],@order) %>
				<% end %>
				<% if @order == "des" %>				
					<%= image_tag "system/buttons/Filters/Filter_Arrow.jpg" %>
				<% else %>
					<%= image_tag "system/buttons/Filters/Filter_Arrow_down.jpg" %>
				<% end %>
			</li>
		</ul>
		<hr />
		<%= render :partial => "properties_holder", :object => @properties %>
		<div id="result_info">
			<p>
				<span class="left"><%= @properties.size %> results</span>
			</p>	
			<div id="pagination_holder">
				<%= will_paginate @properties, :params => {:filter => params[:filter]} %>
			</div>
		</div>
		<div class="bottom">	</div>
	</div>
</div>

<div id="right-column">
	<div id="searchbox" class="advanced">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	<%= render :partial => "shared/properties_right" %>
</div>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
	$('#atffc').remove();
	$('#upper_pagewrapper').css("height","133px"); 
	$('#lower_pagewrapper').addClass("large"); 
	$('#content').css("height","100%"); 
	var main_height= $('#main').height();
	$('#content').css("height","100%"); 
	$('.styled').combobox(); 
	$('#main').addClass('properties');
	$('#gossip_container').jScrollPane({scrollbarWidth:17,showArrows:true});
	$('#faq_block').jScrollPane({scrollbarWidth:17,showArrows:true});
	$("#view_options").filter_options();
	set_nav_pointer("properties");
});
</script>
<% end %>
