
<div id="left-side" class="properties">
	<div id="side-nav" class="properties">
		<%= render :partial => "shared/home_sidenav" %>
		<%= render :partial => "shared/tool_set" %>
	</div>


	<div id="main">
		<div class="top">	</div>
		<h3><span class="title">Search:  <%= @search_query.query || @c1 || @search_query.region %> | <%= @search_query.bedrooms %> Bedrooms | < <%=  number_to_currency (@search_query.price.to_i ,:precision => 0) %> </span> </h3>
		<ul id="search_options" style="display:none">
			<li id="id"><%= @search_query.id %></li>
			<li id="referal"><%= controller.action_name %></li>
		</ul>
		<hr />
		<ul id="view_options">
			<li class="first"><span>View Options</span></li>
					<li class="buy"><a href="#" class="filter">Buy</a></li>
					<li class="rent"><a href="#" class="filter">Rent</a></li>
					<li class="date"><a href="#" class="sort">Date </a><%= image_tag "system/buttons/Filters/Filter_Arrow.jpg" %></li>
					<li class="price"><a href="#" class="sort" style="margin-left:13px">Price </a></li>
		</ul>
		<hr />
		<%= render :partial => "properties_holder", :object => @properties %>
		<div id="result_info">
			<p>
				<span class="left"><%= @properties.size %> results</span>
				<span class="right">page <strong>1</strong> 2 3 4 5 > </span>
			</p>
		</div>
		<div class="bottom">	</div>
	</div>
</div>

<div id="right-column">
	<div id="searchbox" class="advanced">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	
	<%= render :partial => "shared/properties_right" %>
</div>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
	$('#upper_pagewrapper').css("height","133px"); 
	$('#lower_pagewrapper').addClass("large"); 
	$('#content').css("height","100%"); 

	var main_height= $('#main').height();
	$('#content').css("height","100%"); 
	$('.droppies').combobox(); 
	$('#main').addClass('properties');
	$("#view_options").filter_options();
	$('#faq_block').jScrollPane({scrollbarWidth:17,showArrows:true});
	set_nav_pointer("properties");
});
</script>
<% end %>