<% unless controller.controller_name == "sessions" %>
	<% for page in @tabs -%>
		<% unless page.name == 'home' %>
			<% if page.name == 'properties' %>
					<% if @page.name == page.name %>
				<li id="nav_<%= page.name %>" class="cufon-active">
				<h2><%= link_to 'Find your Home', properties_path %><%= image_tag("system/buttons/nav_arrow.png", :class=>"arrow") %></h2>
				</li>
					<% else %>
				<li id="nav_<%= page.name %>">
					<h2><%= link_to 'Find your Home', properties_path %><%= image_tag("system/buttons/nav_arrow.png", :class=>"arrow") %></h2>
				</li>
					<% end %>
				<% else %>
					<% if @page.name == page.name %>
				<li id="nav_<%= page.name %>" class="cufon-active">
					<h2><%= link_to page.navlabel, view_page_path(page.name)%> <%= image_tag("system/buttons/nav_arrow.png", :class=>"arrow") %></h2>
				</li>
					<% else %>
						<% if params[:parent] %>					
							<% if @parent.name == page.name %>
				<li id="nav_<%= page.name %>" class="cufon-active">
					<h2><%= link_to page.navlabel, view_page_path(page.name)%> <%= image_tag("system/buttons/nav_arrow.png", :class=>"arrow") %></h2>
				</li>
							<% else %>
				<li id="nav_<%= page.name %>"><h2><%= link_to page.navlabel, view_page_path(page.name)%> <%= image_tag("system/buttons/nav_arrow.png", :class=>"arrow") %></h2>
				</li>
							<% end %>
						<% else %>
				<li id="nav_<%= page.name %>" ><h2><%= link_to page.navlabel, view_page_path(page.name)%> <%= image_tag("system/buttons/nav_arrow.png", :class=>"arrow") %></h2>
				</li>
						<% end %>
					<% end %>
			<% end %>	
		<% end %>
	<% end -%>
				<li class="second-last"><h2><%= link_to 'E&V TV'+image_tag("system/buttons/TV.jpg",:id => "tv_image", :style=>"display:none"), "http://www.youtube.com/user/EngelVoelkersTV", :target=>"_BLANK" %></h2></li>	
			
<% end%>
