	<li><%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty2.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty2.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty2.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty2.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty2.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-left:4px" %></li>
	<li><%= image_tag "system/buttons/sellyourproperty2.jpg",:style => "margin-left:4px" %></li>