
<% unless @subpages.empty? %>
<ul>
	<% for page in @subpages %>
		<li><%= link_to page.navlabel, view_page_path(page.name)%></li>
	<% end %>
</ul>
<% end %>
<%# image_tag "static/gallery.png", :style => "margin:15px 15px 5px" %>

<% if @subpages.empty? %>
<!--<ul id="gallerylinks">
	<%# render :partial => "shared/gallerylinks" %>
</ul>-->

<div id="leftswfcontainer" style="float:left;height:196px">
<%= render :partial =>"shared/keepdiscovering" %>

<%= render :partial=>"shared/polaroid"%>
</div>
<%= link_to (image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-top:8px;"), '/contact?iframe=true&width=560&height=600',:rel=>"prettyPhoto" %>

<% end %>
<hr />
<div class="left_tool relocating chat_box">

	<div class="header_w_image" >
	<h3 style="text-align:left;width:100%;margin:0px;"><%= image_tag "system/buttons/Chat.png" %> <span class="title"><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#">
		Chat LIVE now </a></span>	</h3>
	</div>
</div>
<% if controller.controller_name =="properties" and controller.action_name =="index" %>
	<%= render :partial => "shared/advice" %>
<% end %>
<div class="left_tool relocating share_box">
	<div class="header_w_image" ">
	<h3><span class="title">
	Share</span>	</h3>
	</div>
<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4b71689b6c365e0f"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b71689b6c365e0f"></script>
<script type="text/javascript">
var addthis_config = {
	data_use_flash: false
}

</script>
<!-- AddThis Button END -->


</div>

<div class="left_tool relocating market_box" >

	<div class="header_w_image">
	<h3 style="text-align:left;width:100%;margin: 0px"><%= image_tag "system/buttons/House.jpg", :style=>"margin: -5px 0 0 2px"  %><span class="title" style="margin: 0 0 10px 0">Market Report </span>	</h3>
	</div>
	<%= image_tag "system/bg/front/MarketMag.jpg", :style => "margin-left: 36px;" %>
	<h3 class="download"><span class="title"><a href="#">
		Download </a></span>	</h3>

</div>

<div class="left_tool relocating gossip_box" >
	<div class="header_w_image">
	<h3 style="text-align:left;width:100%;margin:0px;">	<%= image_tag "system/buttons/GossipIcon.jpg"  %><span class="title">
		Property Gossip </a></span>	</h3>	
	<hr >	
	</div>
	<div id="gossip_container">
	<ul id="gossip" style="width:162px;">
		<li><span>title 1</span>Expetenda tincidunt in sed, ex partem placerat sea, porro commodo ex eam. His putant aeterno interesset at.</li>
		<hr>
		<li><span>title 2</span> Usu ea mundi tincidunt, omnium virtute aliquando ius ex. Consetetur neglegentur eum ut, vis animal legimus inimicus id.</li>
		<hr>
		<li><span>title 3</span> Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur.</li>
		<hr>
		<li><span>title 4</span> Usu ea mundi tincidunt, omnium virtute aliquando ius ex. Consetetur neglegentur eum ut, vis animal legimus inimicus id.</li>
		<hr>
		<li><span>title 5</span> Ea aperiri sententiae duo. Usu nullam dolorum quaestio ei, sit vidit facilisis ea. Per ne impedit iracundia neglegentur.</li>
		<hr>
	</ul>
	</div>
</div>

