
<% unless @subpages.empty? %>
<hr />
<ul class="submenu">
	<% if params[:parent] == nil %>
		<li class="active">Intro</li>
	<% else %>
		<li><%= link_to "Intro", view_page_path(@page.parent.name)%></li>
	<% end %>
	<% for page in @subpages %>
		<li class="<% if @page.name == page.name %>active<% end %>"><%= link_to page.navlabel, view_page_parent_path(@parent.name,page.name)%></li>
	<% end %>
</ul>
<hr class='special' />
<% end %>

<%= render :partial =>"shared/keepdiscovering" %>

<% unless @page.name == "about" || params[:parent] == "about" %>
<%= render :partial=>"shared/polaroid"%>

<%= link_to (image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-top:20px;"), '/contact?iframe=true&width=560&height=600',:rel=>"prettyPhoto" %>
<hr>
<%= render :partial =>"shared/leftside/chatlive" %>
<%= render :partial =>"shared/leftside/sharethis" %>
<hr />
<% else %>

<%= render :partial =>"shared/leftside/chatlive" %>
<%= render :partial =>"shared/leftside/sharethis" %>
<%= render :partial =>"shared/leftside/marketreport" %>
<hr />
<% end %>


<% if @page.name == "why" || params[:parent] == "why" %>
	<%= render :partial =>"shared/leftside/marketreport" %>
	<%= render :partial => "shared/leftside/global" %>
<% end %>	
