<div id="property_<%= property.id %>" class="property <%= 'featured' if property.featured %>">
	<div class="image">
		<%= image_tag property.property_thumbnail.photo(:pagesize) if property.property_thumbnail %>
	</div>
	<div class="title text"><p><%= property.title %></p></div>
	<div class="text address"><p style="margin-right:5px"> <%=  property.subtitle if property.subtitle %> <%= image_tag property.location.country.flag.url(), :width => "20px", :style => "float:right;margin-top: 4px" if property.location.country %> </p></div>
	<div class="price text">
		<p>
			<span class="left"> <% if property.price == 0 %>(on request)<% else %><%= number_to_currency (property.price,:precision => 0) %><% end %></span>
			<span class="right">Property #CA8900-<%= property.id %></span>
		</p>
	</div>
	<div class="extra text">
		<ul class="facility">
			<li class="number"><p> <%= property.bedrooms %></p></li>
			<li class="bed"></li>
			<li class="number"><p> <%= property.bathrooms %></p></li>
			<li class="bath"></li>
			<li class="number"><p>

	 <%= property.garage %></p></li>
			<li class="garage"></li>
			<li class="viewproperty"><%= link_to "View Property", property_full_path(property.location.region.gsub(/ /,"-"),property.title.gsub(/ /,"-")) %></li>
		</ul>
	</div>
	<% if property.featured %><div class="ribbon"></div><% end %>
</div>
<hr/>
