<div id="property_<%= property.id %>" class="property">
	<div class="image">
		<%= image_tag property.property_thumbnail.photo(:pagesize) if property.property_thumbnail %>
	</div>
	<div class="title text"><p><%= property.title %></p></div>
	<div class="text address"><p> <%=  property.location.region %>,&nbsp;<%=  property.location.county %> </p></div>
	<div class="price text">
		<p>
			<span class="left"> <% if property.price == 0 %>(on request)<% else %><%= number_to_currency (property.price,:precision => 0) %><% end %></span>
			<span class="right">Property #CA8900-<%= property.id %></span>
		</p>
	</div>
	<div class="extra text">
		<ul class="facility">
			<li class="number"><p> <%= property.bedrooms %></p></li>
			<li class="bed"></li>
			<li class="number"><p> <%= property.bathrooms %></p></li>
			<li class="bath"></li>
			<li class="number"><p>3</p></li>
			<li class="garage"></li>
			<li class="viewproperty"><%= link_to "View Property", property_path(property) %></li>
		</ul>
	</div>
</div>