<h3><span class="title">Quick Search</span> <strong> &nbsp;|&nbsp;</strong><span class="inactive"><a href="/eandv?iframe=true&width=560&height=600" rel="prettyPhoto"> Mls</a> </span>	</h3>

<% form_tag(search_query_path, {:id=>"QuickQuery",:class => "form", :method => "GET"}) do %>
  <p>
		<input type="text" name="query" id="query" value="All"><input type="image" src="/images/system/form/search-button.jpg" style="margin-left:0px;margin-top:-2px">
	</p	>
<% end -%>

<form id="Selectable" action="#" method="get" accept-charset="utf-8">
	<div>
		<p>
			<select class="droppies" name="countries" id="countries">
				<%= options_from_collection_for_select(@countries, 'title', 'title') %>
			</select>
		</p	>
		<p>
			<select class="droppies" name="states" id="states">
			 <%= options_for_select ( @states.uniq)%>
			</select>
		</p	>
		<p>
			<select class="droppies" name="region" id="region">
				<%= options_for_select(@county.uniq) %>
			</select>
		</p	>
		<p>
			<select class="droppies" name="area" id="area">
				<option value="All">All</option>
				<%= options_for_select ( @region)%>
			</select>
		</p	>
		<p>
			<select class="droppies" name="price" id="price">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="bedrooms" id="bedrooms">
				<option value="All">Option One</option>	
				<%= options_for_select ( [1,2,3,4])%>
			</select>
		</p	>
	</div>
	<div class="titles">
		<p>Country</p>
		<p>State</p>
		<p>Region</p>
		<p>Area</p>
		<p>Price</p>
		<p>Bedrooms</p>
	</div>
 	
</form>
<div id="bottom_b"></div>