<li>
<%= image_tag staff.photo.url unless staff.vacancy %>
<h1 class="title"><%= staff.full_name %></h1>
<h2><%= staff.title %></h2>
<p><%= staff.description %></p>
<h6>contact: <%= staff.email %></h6>
<hr />
</li>

