<li class='<% if params[:name] == "staff" %>

<% else %>
employment
<% end %>'>
<%= image_tag staff.photo.url(:pagesize) unless staff.vacancy %>
<h1 class="title"><%= staff.full_name %></h1>
<h2><%= staff.title %></h2>

<% if params[:name] == "staff" %>
<p><%= staff.description %>
</p>
 <div class="contact"><%= link_to "contact", '/contact?iframe=true&width=560&height=600',:rel=>"prettyPhoto" %></div>
<h6 class="staff">email: <%= staff.email %></h6>

<% else %>
<%= staff.description %>

<h6 class="staff">email: <%= staff.email %> <%= link_to "APPLY", '/job/'+staff.id.to_s+'?iframe=true&width=560&height=600',:rel=>"prettyPhoto" %>
<% end %>

</h6>
<hr />
</li>

