<div class="left_tool shorter toolset">
	<div class="top"></div>
	<h3><span class="title">Tools</span></h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/Mortgage.jpg"%> <span>Mortgage calculator</span></li>
		<li><%= image_tag "system/buttons/tools/Value.jpg"%> <span>Home Value</span> </li>
		<li><%= image_tag "system/buttons/tools/Neighbourhood.jpg"%> <span>Know you neighbourhood</span></li>
	</ul>
	<div class="bottom"></div>
</div>
<div class="left_tool shorter toolset">
	<div class="top"></div>
	<h3><span class="title">Advice</span></h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/MortgageAdvice.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">Mortgage advice</a></span></li>
		<li><%= image_tag "system/buttons/tools/LegalAdvice.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">Legal advice</a></span> </li>
		<li><%= image_tag "system/buttons/tools/AfterSales.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">After sales</a></span></li>
	</ul>
	<div class="bottom"></div>
</div>