<div class="left_tool">
	<div class="top"></div>
	<h3>Tools</h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/Mortgage.jpg"%> <span>Mortgage calculator</span></li>
		<li><%= image_tag "system/buttons/tools/Value.jpg"%> <span>Home Value</span> </li>
		<li><%= image_tag "system/buttons/tools/Neighbourhood.jpg"%> <span>Know you neighbourhood</span></li>
	</ul>
	<div class="bottom"></div>
</div>
<div class="left_tool">
	<div class="top"></div>
	<h3>Advice</h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/MortgageAdvice.jpg"%> <span>Mortgage advice</span></li>
		<li><%= image_tag "system/buttons/tools/LegalAdvice.jpg"%> <span>Legal advice</span> </li>
		<li><%= image_tag "system/buttons/tools/AfterSales.jpg"%> <span>After sales</span></li>
	</ul>
	<div class="bottom"></div>
</div>