<% if controller.action_name == "show" %>
<div class="left_tool shorter toolset hack" style="height:100%">
	<div class="top"></div>
	<h3><span class="title">Tools</span></h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/Mortgage.jpg"%> <span>
			<a href="/mortgage/<%= @property.id%>?iframe=true&width=560&height=600" rel="prettyPhoto[tools]">Mortgage calculator</a></span></li>
		<li><%= image_tag "system/buttons/tools/Value.jpg"%> 
			<span>
				<a href="http://www.rdesk.com/communityinfo/CommunityReports.aspx?ZipCode=92661&allowprint=0&showreportheader=1&showtoolbar=1&appname=1166&LoadedInRdesk=0&AllowSave=0&allowcompare=1&allowchangelocation=0&showhelpicon=1&CSSFile=http%3a%2f%2npb.heroku.com%2fstylesheets%2fexternal.css&ReportName=HomeValues2&sid=ca8fac19502845e086e61f9300ff49f1?iframe=true&width=760&height=600" rel="prettyPhoto[tools]">
				Home <br />Value</a>	
			</span> 
		</li>
		<li><%= image_tag "system/buttons/tools/Neighbourhood.jpg"%>
			<span>
			<a href="http://www.rdesk.com/communityinfo/CommunityReports.aspx?ZipCode=92661&allowprint=0&showreportheader=1&showtoolbar=1&appname=1166&LoadedInRdesk=0&AllowSave=0&allowcompare=1&allowchangelocation=0&showhelpicon=1&CSSFile=http%3a%2f%npb.heroku.com%2fstylesheets%2fexternal.css&ReportName=Demographics2&sid=ca8fac19502845e086e61f9300ff49f1?iframe=true&width=760&height=600" rel="prettyPhoto[tools]">Know you neighbourhood</a>
			</span>
		</li>
		<li><%= image_tag "system/buttons/tools/Neighbourhood.jpg"%>
			<span>
			<a href="http://www.rdesk.com/communityinfo/CommunityReports.aspx?ZipCode=92661&allowprint=0&showreportheader=1&showtoolbar=1&appname=1166&LoadedInRdesk=0&AllowSave=0&allowcompare=1&allowchangelocation=0&showhelpicon=1&CSSFile=http%3a%2f%252npb.heroku.com%2fstylesheets%2fexternal.css&ReportName=SchoolsEducation&sid=6117d0d768bf40319d186569c10c5c54" rel="prettyPhoto[tools]">Nearest <br/> Schools</a>
			</span>
		</li>
	</ul>
	<div class="bottom"></div>
</div>
<% end %>

<div class="left_tool shorter toolset">
	<div class="top"></div>
	<h3><span class="title">Advice</span></h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/MortgageAdvice.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">Mortgage <br /> advice</a></span></li>
		<li><%= image_tag "system/buttons/tools/LegalAdvice.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">Legal<br /> advice</a></span> </li>
		<li><%= image_tag "system/buttons/tools/AfterSales.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">After<br /> sales</a></span></li>
	</ul>
	<div class="bottom"></div>
</div>


<div class="left_tool shorter toolset"  style="height:70px">
	<div class="top"></div>
	<h3><span class="title">Share</span></h3>
	<!-- AddThis Button BEGIN -->
		<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4b13fa8441b34368"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0;margin-top:15px;margin-left:15px"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4b13fa8441b34368"></script>
		<!-- AddThis Button END -->

	<div class="bottom"></div>
</div>
	
