<% if controller.action_name == "show" %>
<div class="left_tool shorter toolset hack" style="height:100%">
	<div class="top"></div>
	<h3><span class="title">Tools</span></h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/Mortgage.jpg"%> <span>
			<a href="/mortgage/<%= @property.id%>?iframe=true&width=560&height=600" rel="prettyPhoto[tools]">Mortgage calculator</a></span></li>
		<li><%= image_tag "system/buttons/tools/Value.jpg"%> 
			<span>
			<% if @property.location.country_id == 9 %>
			<a href="/homevalue/<%= @property.location.id %>?iframe=true&width=560&height=640" rel="prettyPhoto[tools]">Home <br>Value</a>
			<% else %>
			<a href="/social?iframe=true&width=300&height=80" rel="prettyPhoto[tools]">		Home <br />Value</a>
			<% end %>
			</span> 
		</li>
		<li><%= image_tag "system/buttons/tools/Neighbourhood.jpg"%>
			<span>
				<!--<a href="http://www.rdesk.com/communityinfo/CommunityReports.aspx?ZipCode=92661&allowprint=0&showreportheader=1&showtoolbar=1&appname=1166&LoadedInRdesk=0&AllowSave=0&allowcompare=1&allowchangelocation=0&showhelpicon=1&CSSFile=http%3a%2f%2npb.heroku.com%2fstylesheets%2fexternal.css&ReportName=HomeValues2&sid=ca8fac19502845e086e61f9300ff49f1?iframe=true&width=760&height=600" rel="prettyPhoto[tools]">
	Know you neighbourhood	</a>	-->
			<% if @property.location.country_id == 9 %>
			<a href="/demographics/?iframe=true&width=560&height=600" rel="prettyPhoto[tools]">Know your neighbourhood</a>
			<% else %>
			<a href="/social?iframe=true&width=300&height=80" rel="prettyPhoto[tools]">		Know your neighbourhood</a>
			<% end %>
			</span> 
		
			</span>
		</li>
		<li><%= image_tag "system/buttons/tools/Neighbourhood.jpg"%>
			<span>
				<%= link_to "Nearest<br> Schools","/social?iframe=true&width=300&height=80",:rel=>"prettyPhotos[tools]" ,:style=>"float:left" %>
			</span>
		</li>
	</ul>
	<div class="bottom"></div>
</div>
<hr />
<div class="left_tool relocating chat_box">

	<div class="header_w_image" >
	<h3 style="text-align:left;width:100%;margin:0px;"><%= image_tag "system/buttons/Chat.png" %> <span class="title"><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#">
		Chat LIVE now </a></span>	</h3>
	</div>
</div>

<% end %>




