<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="google-site-verification" content="ysbTsgOLK4J__UnJrjd8cCzrwuezCfaL4G5CsHIs7DQ" />
	<%= stylesheet_link_tag "screen"  %>
	<%= display_meta_tags %>

  <%= stylesheet_link_tag 'scaffold' %>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
 	  google.load("swfobject", "2.2");
 		google.load("jquery", "1.3.2");
  	google.load("jqueryui", "1.7.2");
	</script>

	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	 <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
	<![endif]-->
	<style type="text/css">


		body{
			overflow: hidden;
			height: 515px;
			width: 373px;
			margin: 0px auto;
		}
		#content p{
			color: #4d4d4d;	
		}
		input[type="text"]{
			width: 173px;
		}
					input[type="password"]{
			width: 173px;
		}
			
	</style>

	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->


	<script src="/javascripts/cufon.js" type="text/javascript" charset="utf-8"></script>
	<script src="/fonts/GarmdITC_BkCn_BT_400-GarmdITC_BkCn_BT_700-GarmdITC_BkCn_BT_italic_400-GarmdITC_BkCn_BT_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
	
	<link href="http://www.engelvoelkers.com/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  </head>
  <body>

<div style='width:373px;height;271px;overflow:hidden;float:left'>

	<div style="padding: 5px 40px;float: left">

	<%= image_tag "system/bg/front/EV-Member-Card.jpg", :style=>"margin-left:-11px"%>
	<% form_tag session_path, :target => "_parent" do -%>
	<p style="float:left;width:100px;margin:5px 0px;"><%= label_tag 'login' %></p>
	<p style="float:left;margin:5px 0; "><%= text_field_tag 'login', @login %></p>

	<p style="float:left;width:100px;margin:5px 0px;"><%= label_tag 'password' %></p>
	<p style="float:left;margin:5px 0;"><%= password_field_tag 'password', nil %></p>


	<p style="float:left;margin:5px 0;"><%= label_tag 'remember_me', 'Remember me' %>
	<%= check_box_tag 'remember_me', '1', @remember_me %></p>


	<p style="float:left;padding-left:30px;margin-top:7px"><%= image_submit_tag 'system/buttons/cool_LogIn.jpg' %> <%= link_to image_tag("system/buttons/cool_SignIn.jpg"), "/signup", :target =>"
_parent"%></p>
	<% end -%>
	</div>
</div>
<iframe src="https://engel--volkers-newport-beach.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Flocalhost:3001" width="373px" height="240px" style="float:left"></iframe>


	<script type="text/javascript"> Cufon.now(); </script>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-6199682-12");
	pageTracker._trackPageview();
	} catch(err) {}</script>	
	<%= yield :script %>

 </body>
</html>


