<div id="side-nav">
	<ul>
		<%= link_to "Back", :back %>
	</ul>
</div>


	<h1>Staff (<%= @members.size %>)</h1>

	<div id="itsthetable">	
		<table class="page_list">
			<thead>
				<th style="width:100px"><%= t('headerlist.name')%></th>	
				<th style="width:200px"><%= t('headerlist.title')%></th>
				<th style="width:100px">Email</th>
				<th style="width:300px">Description</th>
				<th style="width:150px"><%= t('headerlist.options')%></th>

			</thead>			
			<%= render :partial => "member", :collection => @members %>
		</table>
	</div>

