<div id="side-nav">
	<ul>
		<li><%= link_to t('options.index'), admin_staff_index_path  %></li>
		<li><%= link_to t('options.new'), new_admin_staff_path %></li>
		<li><%= link_to "back", :back %></li>
	</ul>
</div>

<div id="subcontent">
	<h1>Staff member: <%= @member.full_name.capitalize %></h1>
	<br/>
	<%= image_tag @member.photo.url %>
	

	<div id="itsthetable">	
		<table class="page_list">
			<tr>
				<th style="width:100px"><%= t('headerlist.name')%></th>	
				<th style="width:200px"><%= t('headerlist.title')%></th>
				<th style="width:100px">Email</th>
				<th style="width:300px">Description</th>
				<th style="width:150px"><%= t('headerlist.options')%></th>

			</tr>			
			<%= render :partial => "member", :object=> @member %>
		</table>
	</div>
	<br />
	
</div>	
