<strong><%= @property.id %></strong> | <%= @property.title %>, <%= @property.location.region %>, <%= @property.location.county %>, <%= @property.location.state %>, <%= @property.location.zipcod %><br />

<h1><%= @coord %></h1>

