<div id="left-side" class="<%= @page.name %>">

<% if params[:name] != "home" %>
	<div id="title" class="<% if @page.name == "about" || @parent.name == "about" %>about<% end %>">
		<h5><%= @parent.navlabel %></h5>
	</div>
<% end %>

	<div id="side-nav" 	class="<%= @page.name %>">
			<% if @page.name == "home" %>
				<%= render :partial => "shared/home_sidenav" %>
			<% else %>
				<%= render :partial => "shared/left_sidenav" %>
			<% end %>
	</div>
	<% if params[:name] == "about" || params[:parent] == "about" %>
		<%= image_tag "static/about_balboa.jpg", :id=>"about_image" %>
	<% end %>
	<div id="main" class="<% if @page.name != "home" %>properties <% if @page.name == "about" || @parent.name == "about" %>about<% end %><% end %>">
		<% if @page.name == "home" || @page.name == "about" || @parent.name == "about" %>
		<div id="main_top" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
		<% end %>
		
		<% if @page.name == "home" %>
			<h1 class="title"><%= @page.title %> </h1>
		<% end %>
		<%= @page.body %>
		<div id="main_bottom" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
	</div>
</div>
<div id="right-column" class="<% if @page.name == "home" %>home<% end %> <% if @page.name == "about" || @parent.name== "about" %>about<% end %>">
	<div id="searchbox" 	class="<% if @page.name != "home" %>advanced<% end %>">
	<% if @page.name == "home" %>
		<%= render :partial => "shared/quicksearchbox" %>
	<% else %>
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	<% end %>
	</div>
	<% if @page.name == "why" ||  @page.name == "selling"||  @page.name == "buying" %>
		<%= render :partial => "shared/why" %>
	<% end %>
</div>

<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	/*$('#main').jScrollPane({scrollbarWidth:17,showArrows:true});*/

<% unless params[:parent] %>
	
	if((BrowserDetect.browser=="Explorer")&&(BrowserDetect.version<"8")){
			alert("You are using an old browser!!!\n To view this page correctly you have two options: \n 1. upgrade to ie8  \n 2. use a decent one, we hear firefox is good")
	}else{
		front_paragraph_chop();	

	}
	
	$('.droppies').combobox();
<% end %>
  $('#content').css("height","100%"); 

	<% if params[:name] != "home" %>
		<% if params[:parent] %>
		set_nav_pointer("<%= params[:parent] %>");
		<% else %>
		set_nav_pointer("<%= params[:name] %>");
		<% end %>
		<% if params[:name] == "why"  %>
			chop_front_list();
		<% end %>
	<% else %>
	if((BrowserDetect.browser=="Explorer")&&(BrowserDetect.version<"8")){
		}else{
		onfocus_forms();
	}
 	<% end %>
	$("#main_bottom").appendTo($("#main"));
	$("#right-column").css("width","260px");
});
</script>
<% end %>
