<div id="left-side" class="<%= @page.name %>">

<% if params[:name] != "home" %>
	<div id="title" class="<% if @page.name == "about" || @parent.name == "about" %>about<% end %>">
		<h5><%= @parent.navlabel %></h5>
	</div>
<% end %>

	<div id="side-nav" 	class="<%= @page.name %> <% if @parent.name == "about" %>about<% end %>">
			<% if @page.name == "home" %>
			<hr style="margin-top:2px"/>
				<%= render :partial => "shared/home_sidenav" %>

			<% else %>
				<%= render :partial => "shared/left_sidenav" %>
			<% end %>
	</div>
	<% if params[:name] == "about" || params[:parent] == "about" %>
		<% if params[:name] == "about" %>
			<%= image_tag "static/about_balboa.jpg", :id=>"about_image" %>
		<% else %>
				<%= image_tag @page.page_about.photo(:pagesize), :id=>"about_image" %>
		<% end %>
	<% end %>
	<div id="main" class="<% if @page.name != "home" %>properties <% if @page.name == "about" || @parent.name == "about" %>about<% end %><% end %>">
		<% if @page.name == "home" || @page.name == "about" || @parent.name == "about" %>
		<div id="main_top" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
		<% end %>
		<% if params[:name]== "office" %>
	 		<%= @map.div(:width => 419, :height => 317) %>
			<hr />
		<% end %>		
		<% if @page.name == "home" %>
			<h1 class="title"><%= @page.title %> </h1>
		<% end %>
		<%= @page.body %>
		<% if params[:parent] == "office" %>
			<% if params[:name] == "staff" %>
				<ol class="staff">
					<%= render :partial => "shared/staff", :collection => @staff %>
				</ol>
			<% end %>			
			<% if params[:name] == "employment" %>
				<ol class="staff">
					<%= render :partial => "shared/staff", :collection => @staff %>
				</ol>
			<% end %>	
		<% end %>

		<% if params[:parent] == "why" %>
		<p class="main_links"> <%= link_to "contact us", "/images/slide_1.jpg",:rel =>"prettyPhoto" %> or <%= link_to "chat with us", "/images/slide_1.jpg",:rel =>"prettyPhoto" %> </p>
		<% end %>
		<div id="main_bottom" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
	</div>
	<% if @page.name == "home" %>
	<div id="news">
			<div id="main_top" class="main_border ">	</div>
			<h1 class="title">Recent News</h1>
		
			<ol id="blog">	
			<%= render :partial => "shared/post", :collection => @posts %>
			</ol>
			<div id="main_bottom" class="main_border">	</div>
	</div>
	<% end %>
</div>
<div id="right-column" class="<% if @page.name == "home" %>home<% end %> <% if @page.name == "about" || @parent.name== "about" %>about<% end %>">
	<div id="searchbox" 	class="advanced <%= @page.name%>">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	<% if @page.name == "why" ||  params[:parent] == "why" %>
		<%= render :partial => "shared/why" %>
	<% end %>
	<% if @page.name == "home" %>
	<%= render :partial => "shared/home_right" %>
	
	<% end %>
	<% if @page.name == "about" || params[:parent] == "about"%>
		<script type="text/javascript">
				var flashvars = {};
				flashvars.topXml = "/partners.xml";
				//flashvars.font = "/swf/font.swf";
				var attributes = {};
				attributes.wmode = "transparent";
				attributes.id = "top5";
				swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/top5.swf", "top5", "302", "179", "9", "/swf/expressInstall.swf", flashvars, attributes);
		 </script>

		<div>
			<div id="top5"></div>
		</div>
	<% end %>
</div>

<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	/*$('#main').jScrollPane({scrollbarWidth:17,showArrows:true});*/
	$('.droppies').combobox();
<% unless params[:parent] %>
/*	
	if((BrowserDetect.browser=="Explorer")&&(BrowserDetect.version<8)){
	}else{
		front_paragraph_chop();	

	}
	*/

<% end %>
  $('#content').css("height","100%"); 

	<% if params[:name] != "home" %>
		<% if params[:parent] %>
		set_nav_pointer("<%= params[:parent] %>");
		<% else %>
		set_nav_pointer("<%= params[:name] %>");
		<% end %>
		<% if params[:name] == "why"  %>
			chop_front_list();
		<% end %>
	<% else %>

		onfocus_forms();
		$('#gossip_container').jScrollPane({scrollbarWidth:17,showArrows:true});
 	<% end %>
	$("#main_bottom").appendTo($("#main"));

	override_search_submit();

});
</script>
	<% if params[:name] == "office"  %>
		<%= GMap.header(:with_vml => false, :host => request.host)%>
		<%= @map.to_html %>
	<% end %>


<% end %>
