<div id="left-side" class="<%= @page.name %>">

<% if params[:name] != "home" %>
	<div id="title" class="<% if @page.name == "about" || @parent.name == "about" %>about<% end %>">
		<h5><%= @parent.navlabel %></h5>
	</div>
<% end %>

	<div id="side-nav" 	class="<%= @page.name %> <% if @parent.name == "about" %>about<% end %>">
			<% if @page.name == "home" %>
			<hr style="margin-top:2px"/>
				<%= render :partial => "shared/home_sidenav" %>

			<% else %>	
		
				<%= render :partial => "shared/left_sidenav" %>

			<% end %>
	</div>
	<% if params[:name] == "about" || params[:parent] == "about" %>
		<% if @page.page_about %>
			<%= image_tag @page.page_about.photo(:pagesize), :id=>"about_image" %>
		<% else %>
				<%= image_tag "static/about_balboa.jpg", :id=>"about_image" %>
		<% end %>
	<% end %>
	<div id="main" class="<% if @page.name != 'home' %>properties <% if @page.name =='about' || @parent.name == 'about' %>about<% end %><% end %><% if @page.name == 'home' %>home<% end %>">
		<% if @page.name == "home" || @page.name == "about" || @parent.name == "about" %>
		<div id="main_top" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
		<% end %>
		<% if params[:name]== "shop" %>
			<%= render :partial =>"shop_gallery" %>
		<% end %>		
	
		<% if @page.name == "home" %>
			<h1 class="title"><%= @page.title %> </h1>
		<% end %>
		<%= @page.body %>
		<% if params[:name]== "shop" %>
			<hr style="margin-top:18px;"/>
	 		<%= @map.div(:width => 419, :height => 317) %>
			<hr />
		<% end %>		

		<% if @parent.name == "about" %>
			<hr />
			<% unless params[:name] == "about" %>
	 		<%= @map.div(:width => 419, :height => 317) %>
			<hr />
			<% end %>

		<% end %>
		<% if params[:parent] == "shop" %>
			<% if params[:name] == "staff" %>
				<ol class="staff">
					<%= render :partial => "shared/staff", :collection => @staff %>
				</ol>
			<% end %>			
			<% if params[:name] == "employment" %>
				<ol class="staff">
					<%= render :partial => "shared/staff", :collection => @staff %>
				</ol>
			<% end %>	
		<% end %>

		<% if params[:parent] == "why" %>
	 <table class="contact"><tr> <td class="contact"><a href="/contact?iframe=true&width=560&height=400" rel="prettyPhoto" >contact </a></td><td>&nbsp; or &nbsp;</td><td class="chat"> <a onclick="window.open('http://chatserver.comm100.com/ChatWindow.aspx?siteId=25828&planId=368&visitType=1&byHref=1','livechat','width=500,height=450');" href="#">
		chat</a></td></tr></table> 
		<% end %>
		<div id="main_bottom" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
	</div>
	<% if @page.name == "home" %>
	<div id="news">
			
			<h1 class="title">LATEST BLOG POSTS</h1>
			<hr>
			<div id="blog_container">
				<ol id="blog">	
				<%= render :partial => "shared/post", :collection => @posts %>
				</ol>
			</div>
	</div>
	<% end %>
</div>
<div id="right-column" class="<% if @page.name == "home" %>home<% end %> <% if @page.name == "about" || @parent.name== "about" %>about<% end %>">
	<div id="searchbox" 	class="advanced <%= @page.name%>">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	<% if @page.name == "why" ||  params[:parent] == "why" %>
		<%= render :partial => "shared/why" %>
	<% end %>
	<% if @page.name == "shop" ||  params[:parent] == "shop" %>
		<%= render :partial => "shared/eandv_vip" %>
		<%= render :partial => "shared/top5" %>
	<% end %>
	<% if @page.name == "home" %>
	<%= render :partial => "shared/home_right" %>
	
	<% end %>
	<% if @page.name == "about" || params[:parent] == "about"%>
		<%= render :partial => "shared/buyersguide" %>		
		<%= render :partial => "shared/eandv_vip" %>
		<%= render :partial => "shared/top5" %>
	<% end %>
</div>

<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	/*$('#main').jScrollPane({scrollbarWidth:17,showArrows:true});*/
	/*$('.styled').combobox();*/
	/* $('#Selectable').FormObserve();*/
<% unless params[:parent] %>
/*	
	if((BrowserDetect.browser=="Explorer")&&(BrowserDetect.version<8)){
	}else{
		front_paragraph_chop();	

	}
	*/

<% end %>
		$('#atffc').remove();
  $('#content').css("height","100%"); 

	<% if params[:name] != "home" %>
		<% if params[:parent] %>
		set_nav_pointer("<%= params[:parent] %>");
		<% else %>
		set_nav_pointer("<%= params[:name] %>");
		<% end %>
		<% if params[:name] == "why"  %>
			chop_front_list();
			$("#main").append($("#main_bottom"));
		<% end %>
	<% else %>

		onfocus_forms();
		$('#gossip_container').jScrollPane({scrollbarWidth:17,showArrows:true});
		$('#blog_container').jScrollPane({scrollbarWidth:17,showArrows:true});
	$("#main_bottom").remove();
	$("#main_top").remove();
 	<% end %>

	override_search_submit();

});
</script>
	<% if params[:name] == "shop" || params[:parent] == "about" %>
		<%= GMap.header(:with_vml => false, :host => request.host)%>
		<%= @map.to_html %>
	<% end %>


<% end %>
