<div id="left-side" class="<%= @page.name %>">

<% if params[:name] != "home" %>
	<div id="title" class="<% if @page.name == "about" || @parent.name == "about" %>about<% end %>">
		<h5><%= @parent.navlabel %></h5>
	</div>
<% end %>

	<div id="side-nav" 	class="<%= @page.name %> <% if @parent.name == "about" %>about<% end %>">
			<% if @page.name == "home" %>
			<hr style="margin-top:2px"/>
				<%= render :partial => "shared/home_sidenav" %>
				<hr />
					<div class="left_tool relocating">
						<div class="top"></div>
						<div class="header_w_image">
							<img src="/images/system/buttons/affiliate.jpg" width="50" height="35" alt="House">
							<h3 class="services"><span class="title"><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto">Become an <br />affiliate</a></span></h3>
						</div>
						<div class="bottom"></div>
					</div>
				<hr />
			<% else %>
				<%= render :partial => "shared/left_sidenav" %>
			<% end %>
	</div>
	<% if params[:name] == "about" || params[:parent] == "about" %>
		<%= image_tag "static/about_balboa.jpg", :id=>"about_image" %>
	<% end %>
	<div id="main" class="<% if @page.name != "home" %>properties <% if @page.name == "about" || @parent.name == "about" %>about<% end %><% end %>">
		<% if @page.name == "home" || @page.name == "about" || @parent.name == "about" %>
		<div id="main_top" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
		<% end %>
		
		<% if @page.name == "home" %>
			<h1 class="title"><%= @page.title %> </h1>
		<% end %>
		<%= @page.body %>
		<% if params[:parent] == "why" %>
		<p class="main_links"> <%= link_to "contact us", "/images/slide_1.jpg",:rel =>"prettyPhoto" %> or <%= link_to "chat with us", "/images/slide_1.jpg",:rel =>"prettyPhoto" %> </p>
		<% end %>
		<div id="main_bottom" class="main_border <% if @page.name != "home" %>other<% end %>">	</div>
	</div>
</div>
<div id="right-column" class="<% if @page.name == "home" %>home<% end %> <% if @page.name == "about" || @parent.name== "about" %>about<% end %>">
	<div id="searchbox" 	class="advanced">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
	<% if @page.name == "why" ||  params[:parent] == "why" %>
		<%= render :partial => "shared/why" %>
	<% end %>
</div>

<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	/*$('#main').jScrollPane({scrollbarWidth:17,showArrows:true});*/
	$('.droppies').combobox();
<% unless params[:parent] %>
/*	
	if((BrowserDetect.browser=="Explorer")&&(BrowserDetect.version<8)){
	}else{
		front_paragraph_chop();	

	}
	*/

<% end %>
  $('#content').css("height","100%"); 

	<% if params[:name] != "home" %>
		<% if params[:parent] %>
		set_nav_pointer("<%= params[:parent] %>");
		<% else %>
		set_nav_pointer("<%= params[:name] %>");
		<% end %>
		<% if params[:name] == "why"  %>
			chop_front_list();
		<% end %>
	<% else %>
	if((BrowserDetect.browser=="Explorer")&&(BrowserDetect.version<8)){
		}else{
		onfocus_forms();
	}
 	<% end %>
	$("#main_bottom").appendTo($("#main"));
	$("#right-column").css("width","260px");
	override_search_submit();
});
</script>
<% end %>
