<tr>

	<td><%= post.title %></td>
	<td>
	<%= post.description_html if controller.action_name == "show" %>
	<% # post.body_html if controller.action_name == "index" 
  %>
	</td>
	<td>
	<table class="nolines">
		<tr>
			<td><%= link_to image_tag ('system/buttons/search.jpg', :height => "15px", :title => t('options.show')), admin_post_path(post) %></td><td>&nbsp;|&nbsp;</td>
			<td><%= link_to image_tag ('system/buttons/edit.jpg', :height => "15px", :title => t('options.edit')), edit_admin_post_path(post) %></td><td>&nbsp;|&nbsp;</td>
			<td><%= link_to image_tag ('system/buttons/delete.jpg', :height => "15px", :title => t('options.delete')), admin_post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	</table>
	</td>
</tr>
