<div id="side-nav">
	<ul>
		<li><%= link_to "back", :back %></li>
	</ul>
</div>


	<h1>Blog Categories(<%= @posts.size %>)</h1>

	<div id="itsthetable">	
		<table class="page_list">
			<thead>
				<th style="width:200px"><%= t('headerlist.title')%></th>
				<th style="width:150px"><%= t('headerlist.options')%></th>
			</thead>			
			<%= render :partial => "post", :collection => @posts %>
		</table>
	</div>

