<div id="side-nav">
	<ul>
		<li><%= link_to "back", :back %></li>
	</ul>
</div>


	<h1>Openings (<%= @openings.size %>)</h1>
<ul id="staffholder" style="width:920px">

		<table class="page_list">
			<thead>
				<th></th>		
				<th style="width:100px"><%= t('headerlist.name')%></th>	
				<th style="width:200px"><%= t('headerlist.title')%></th>
				<th style="width:100px">Extra</th>
				<th style="width:300px">Description</th>
				<th style="width:150px"><%= t('headerlist.options')%></th>

			</thead>			
		</table>

			<%= render :partial => "member", :collection => @openings %>
	
	
<script>
$(document).ready(function() {

	// Initialise the first table (as before)
	//$(".page_list").tableDnD();

		$('#staffholder').sortable(
				      {
				        axis: 'y', 
				        dropOnEmpty:false, 
				        handle: '.handle', 
				        cursor: 'crosshair',
				        items: 'li',
				        opacity: 0.4,
				        scroll: true,
				        update: function(){
				          $.ajax({
				              type: 'post', 
				              data: $('#staffholder').sortable('serialize'), 
				              dataType: 'script', 
				              complete: function(request){
				                  $('#staffholder').effect('highlight');
				                },
				              url: '/admin/opening/prioritize_opening'})
				          }
       
				});

});
</script>
