<div id="side-nav">
	<ul>
		<li><%= link_to 'back', :back %></li>
	</ul>
</div>


<% title "Cropping upload"%>
<% content_for(:script) do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#cropbox").Jcrop({
			onChange: updateCrop,
			onSelect: updateCrop,
			setSelect: [120,90],
			aspectRatio: 1.3333333333333333
		});
	});	
	function updateCrop(coords){
	  var rx = 120/coords.w;
	  var ry = 90/coords.h;
	  $('#preview').css({
	    width: Math.round(rx * <%= @upload.photo_geometry(:pagesize).width %>) + 'px',
	    height: Math.round(ry * <%= @upload.photo_geometry(:pagesize).height %>) + 'px',
	    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
	    marginTop: '-' + Math.round(ry * coords.y) + 'px'
	  });
		var ratio = <%= @upload.photo_geometry(:original).width %> / <%= @upload.photo_geometry(:pagesize).width %>; 
			$("#crop_x").val(Math.round(coords.x * ratio));
			$("#crop_y").val(Math.round(coords.y * ratio));
			$("#crop_w").val(Math.round(coords.w * ratio));
			$("#crop_h").val(Math.round(coords.h * ratio));
	}
</script>
<% end %>

<h1>Editing upload</h1>



<%= image_tag @upload.photo.url(:pagesize) , :id => "cropbox" %>

<h4>Preview:</h4>
<div style="width:120px; height:90px; overflow:hidden">
  <%= image_tag @upload.photo.url(:pagesize), :id => "preview" %>
</div>

<% form_for(@upload,:url=>{:action=>"update"},:html=>{:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>

  <!-- CROP FORM -->


	<% for attribute in [:crop_x,:crop_y,:crop_w,:crop_h]%>
		<%= f.text_field attribute, :id => attribute %><br />
	<% end%>
  <!-- END CROP FORM -->

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>