<li>
	
	<%= image_tag comments.user.photo_url if comments.user.photo_url %><p class="details"><%= comments.user.name if comments.user.name %><br><%= comments.created_at if comments.created_at %></p>
	<p><%= comments.body %></p>
	<% if logged_in? and  self.current_user.has_role?("admin") %>
	<%= link_to image_tag ('system/buttons/delete.jpg',:height => "15px",:title => "delete"), comment_path(comments), :confirm => 'Are you sure?', :method => :delete %>
	
	<% end %>
</li>
