<li>

<hr>
	
	<h2 class="title">
<% if params[:parent] == nil %>
	<%= link_to post.title, view_blog_parent_path(post.parent.name, post.name) %>
<% end %>

 </h2>



<% if controller.action_name == "show" %>

	<% unless params[:parent] == nil %>
		<% if  post.post_gallery and  post.post_gallery.post_uploads.size > 0 %>
			<p>	<% for image in post.post_gallery.post_uploads %>
						<%= link_to (image_tag(image.photo.url(:thumb)),image.photo.url(:original),:rel =>"prettyPhotos[group1]", :style=>"float:left;margin:12px")  %>
				<% end %>	
			</p>
		<% end %>
		<%= post.body_html  %>	
		<%= post.description  %>	
		
		<hr>	
		<h6>Posted by <span><%= post.author.capitalize if post.author %></span><br>Date Posted: <%= post.created_at %><br>Total Comments: <%= post.comments.size %></h6>
	<% else %>
		<% if  post.post_gallery and  post.post_gallery.post_uploads.size > 0 %>
			<%= image_tag post.post_gallery.post_uploads.first.photo.url(:thumb), :style=>"margin-top:15px;float:left;" if post.photo %>
		<% else %>	

   		<%= image_tag post.photo.url(:small), :style=>"margin-top:15px;float:left;" if post.photo %>
		<% end %>
	<%= post.body_html  %>
	<h6>Posted by <span><%= post.author.capitalize if post.author %></span><br>Date Posted: <%= post.date.to_s %></h6>
	<% end %>	
	
<% else %>
	<% if  post.post_gallery and  post.post_gallery.post_uploads.size > 0 %>
			<%= image_tag post.post_gallery.post_uploads.first.photo.url(:thumb), :style=>"margin-top:15px;float:left;" if post.photo %>
	<% else %>	
   		<%= image_tag post.photo.url(:small), :style=>"margin-top:15px;float:left;" if post.photo %>

	<% end %>
	<%= post.body_html  %>
	<h6>Posted by <span><%= post.author.capitalize if post.author %></span><br>Date Posted: <%= post.date.to_s %></h6>
<% end %>


</li>
