<li>

<hr>
	
	<h2 class="title">
<% if params[:parent] == nil %>
	<%= link_to post.title, view_blog_parent_path(post.parent.name, post.name) %>
<% end %>

 </h2>



<% if controller.action_name == "show" %>

	<% unless params[:parent] == nil %>
		<%= post.description  %>	
		<%= image_tag post.photo.url(:large), :style=>"margin-top:15px;" %>
		<hr>	
		<h6>Posted by <span><%= post.user.login.capitalize %></span><br>Date Posted: <%= post.created_at %></h6>
	<% else %>
	<%= image_tag post.photo.url(:small), :style=>"margin-top:15px;float:left;" if post.photo %><%= post.body_html  %>
	<h6>Posted by <span><%= post.user.login.capitalize %></span><br>Date Posted: <%= post.created_at %></h6>
	<% end %>	
	
<% else %>
	<%= image_tag post.photo.url(:small), :style=>"margin-top:15px;float:left;" if post.photo %><%= post.body_html  %>
	<h6>Posted by <span><%= post.user.login.capitalize %></span><br>Date Posted: <%= post.created_at %></h6>
<% end %>

</li>
