<li>

<hr>
	<h2 class="title"><%= post.title %> </h2>



<% if controller.action_name == "show" %>
	<%= post.description_html  %>
	<h6>Posted by <span><%= post.user.login.capitalize %></span><br>Date Posted: <%= post.created_at %></h6>
<% else %>
	<h6>Posted by <span><%= post.user.login.capitalize %></span><br>Date Posted: <%= post.created_at %></h6>
	<%= post.description_html  %>

<% end %>

</li>
