<div id="left-side">
	<div id="title">
		<h5><%= @page.navlabel %></h5>
	</div>
	
	<div id="side-nav">
		<hr>
		<%= render :partial => "shared/blog_sidenav" %>
	</div>

	<div id="main" class="properties">
		<%= image_tag "static/services_main.jpg",:id=>"mainpic" %>
		<%= @page.body %>
		<ol id="blog">
		<%= render :partial => "post", :collection => @posts %>
		</ol>
		<div id="main_bottom" class="main_border other">	</div>
	</div>
	

</div>
<div id="right-column">
	<div id="searchbox" 	class="advanced">
		<div class="top"></div>
			<div><%= render :partial => "shared/advancedsearchbox" %></div>
		<div class='bottom'></div>
	</div>
		<%= render :partial => "shared/home_right" %>
</div>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
  	 

	$('.droppies').combobox(); 
	$('#gossip_container').jScrollPane({scrollbarWidth:17,showArrows:true});
	
	$("#main_bottom").appendTo($("#main"));
	set_nav_pointer("blog");
});


</script>
<% end %>
