<tr>
	<td width="250px"><%= table_zillow["name"] %></td>
	<% if  table_zillow["values"][0]["city"][0]["value"][0]["content"] == nil %>
	<td>
		<h3>
				<%= table_zillow["values"][0]["city"][0]["value"][0] %>
		</h3>
	</td>
	<td width="15"></td>
	<td>
		<h3><%= table_zillow["values"][0]["nation"][0]["value"][0] %></h3>
	</td>		

	<% else %>	
	<td><h3><%= table_zillow["values"][0]["city"][0]["value"][0]["content"] %></h3></td>
	<td width="15"></td>
	<td><h3><%= table_zillow["values"][0]["nation"][0]["value"][0]["content"] %></h3></td>
	<% end %>
</tr>
