<tr>
	<td width="250px"><%= table_zillow["name"] %></td>
	<% if  table_zillow["values"][0]["city"][0]["value"][0]["content"] == nil %>
	<td>

			<% if table_zillow["values"][0]["city"][0]["value"][0]["type"] == "percent" %>Bla<% end %>
				<%= table_zillow["values"][0]["city"][0]["value"][0] %>

	</td>
	<td width="15"></td>
	<td>
		<%= table_zillow["values"][0]["nation"][0]["value"][0] %>
	</td>		

	<% else %>	
	<td>

<% if table_zillow["values"][0]["city"][0]["value"][0]["type"] == "percent" %>
		<%= number_to_percentage(table_zillow["values"][0]["city"][0]["value"][0]["content"],:precision => 4) %><% else %>


		<%= table_zillow["values"][0]["city"][0]["value"][0]["content"] %><% end %>


	</td>
	<td width="15"></td>
	<td>
		<% if table_zillow["values"][0]["city"][0]["value"][0]["type"] == "percent" %>
		<%= number_to_percentage(table_zillow["values"][0]["nation"][0]["value"][0]["content"],:precision => 4) %><% else %>


		<%= number_with_precision(table_zillow["values"][0]["nation"][0]["value"][0]["content"],:precision => 2) %><% end %>
	</td>
	<% end %>
</tr>
