<% form_for :contact, @contact, :url => {:action => 'create'} do |f| %>
<table id="contactform">
	<tr>
		<td>
		<table id="column1">
			<tr>
				<td><h4>Name</h4></td>
				<td> <%= f.text_field(:name, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h4>Surname</h4></td>
				<td><%= f.text_field(:surname, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h4>Telephone</h4></td>
				<td><%= f.text_field(:telephone, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h4>Email</h4></td>
				<td><%= f.text_field(:email, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h4>Confirm Email</h4></td>
				<td><%= text_field(:check_email, :size => 20) %></td>
			</tr>	
		</table>

		</td>
		<td>
		<table id="column2">
			<tr>
				<td ><h4>Interested in</h4></td>
				<td class="wide"><%= f.select(:interested_in, @interested_in) %></td>
			</tr>	
			<tr>
				<td><h4>property Type</h4></td>
				<td class="wide"><%= f.select(:property_type, @property_types.uniq) %></td>
			</tr>	
			<tr>
				<td><h4>Country</h4></td>
				<td class="wide"><%= f.select(:country, @countries.uniq)%></td>
			</tr>	
			<tr>
				<td><h4>State/Province</h4></td>
				<td class="wide">
	
				<%= f.select(:state, @states.uniq)  %>
				</td>
			</tr>	
			<tr class="wide">
				<td><h4>City</h4></td>
				<td class="wide">		<%= f.select(:city, @cities.uniq)  %></td>
			</tr>	
			<tr>
				<td class="short"><h4>Beds</h4></td>
				<td>	<%= f.select(:beds, 1..8)  %><span> Baths</span><%= f.select(:beds, 1..12)  %></td>
			</tr>	
			<tr>
				<td class="wide"><h4>Price Range</h4></td>
				<td>	<%= f.select(:price_range, @price_range) %></td>
			</tr>	
		</table>
		</td>
	</tr>	
</table>
			<table id="row2">
				<tr>
					<td><h4>Message</h4></td>
					<td><%= f.text_area(:message, :rows => 6) %></td>
			</table>
<hr>
<div id="mailing">
<h3>MAILING LIST</h3>
<p>Tick to Join our Mailing List and receive alert on new properties as they hit the market</p>
</div>

<%= submit_tag "submit" %>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts();
});
</script>
<% end %>
