
<h1 class="title">Contact form </h1>
<div id="contact_form" >

	<p style="margin-top:4px">If your interested in one of our properties/services or have any questions you can <span><a onclick="window.open('http://chatserver.comm100.com/ChatWindow.aspx?siteId=25828&planId=368&visitType=1&byHref=1','livechat','width=500,height=450');" href="#" class="live">
		CHAT LIVE </a></span> now, call us on <span>+1 949 673 3444</span> or fill out the contact form below  and one of our agents will be in contact soon</p>
<% form_for :contact, @contact, :url => {:action => 'create'},:html=>{:id=>"contact"} do |f| %>
	 <%= f.error_messages :header_message => "#{@contact.errors.size} errors prevented this contact form frmo being sent"%> 
		<table id="column1" class="contact">
			<tr>
				<td><h2>Name</h2></td>
				<td> <%= f.text_field(:name, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h2>Surname</h2></td>
				<td><%= f.text_field(:surname, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h2>Telephone</h2></td>
				<td><%= f.text_field(:telephone, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h2>Email</h2></td>
				<td><%= f.text_field(:email, :size => 20) %></td>
			</tr>	


			<tr>
				<td ><h2>Interested in</h2></td>
				<td class="wide"><%= f.select(:interested_in, @interested_in) %></td>
			</tr>	
			<tr>
				<td><h2>Property Type</h2></td>
				<td class="wide"><%= f.select(:property_type, @property_types.uniq) %></td>
			</tr>	
			<tr>
				<td><h2>Country</h2></td>
				<td class="wide"><%= f.select(:country, @countries.uniq)%></td>
			</tr>	
			<tr>
				<td><h2>State/Province</h2></td>
				<td class="wide">
	
				<%= f.select(:state, @states.uniq)  %>
				</td>
			</tr>	
			<tr class="wide">
				<td><h2>City</h2></td>
				<td class="wide">		<%= f.select(:city, @cities.uniq)  %></td>
			</tr>	
			<tr>
				<td class="short"><h2>Beds</h2></td>
				<td>	<%= f.select(:beds, 1..8)  %></td>
			</tr>	
			<tr>
				<td class="short"><h2>Baths</h2></td>
				<td>	<%= f.select(:baths, 1..12) %></td>
			</tr>
			<tr>
				<td class="wide"><h2>Price Range</h2></td>
				<td>	<%= f.select(:price_range, @price_range) %></td>
			</tr>	

				<tr>
					<td><h2>Message</h2></td>
					<td><%= f.text_area(:message, :rows => 6) %></td>
				</tr>
			</table>
<hr>
<div id="mailing">
<h2>MAILING LIST</h2>
<p><%= check_box "post","mailing" %>Click to Join our Mailing List and receive alert on new properties as they hit the market</p>
</div>
<%= recaptcha_tags %>
<%= submit_tag "submit" %>
<% end %>
</div>
<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {




$("#contact_country").change(onSelectChange2);

	
});

function onSelectChange2(){
	var selected = $("#contact_country option:selected");		
	var output = "";
	aux = $('#contact').serialize();
	if(selected.val() != 0){
	$.post('/update_dd_form',aux, null, "script");
		return true;
	}
}
</script>

<% end %>
