
<% form_for :contact, @contact, :url => {:action => 'contact_create'} do |f| %>
	 <%= f.error_messages :header_message => "#{@contact.errors.size} errors prevented this contact form frmo being sent" 
		%> 
		<table id="column1" style="padding-bottom: 15px">

			<tr>
				<td><h3>Full Name</h3></td><td class="spacer"></td>
				<td> <%= f.text_field(:name, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Telephone</h3></td><td class="spacer"></td>
				<td><%= f.text_field(:telephone, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Email</h3></td><td class="spacer"></td>
				<td><%= f.text_field(:email, :size => 20) %></td>
			</tr>	

				<tr>
					<td></td><td class="spacer"></td>
					<td>
						
						<h3 style="padding-top: 15px">CONFIRM MAILING LIST SUBSCRIPTION</h3>
						<p style="width:250px"><%= f.check_box(:mailing) %>Tick to Join our Mailing List and receive alerts on new properties as they hit the market 						</p>
					
					</td>
				</tr>
			</table>
<ul>
<li style="list-style:none;list-style-position:outside;margin-left:-10px">Become an E&V VIP and recieve:</li>
<li>Access to our exclusive Luxury Global Properties</li>
<li>Updates on Properties as soon as they hit the market</li>
<li>Up to date real estate advice</li>
<li>Invitations to Exclusive E&V partner events</li>
<li class="submit"><%= submit_tag "submit" %></li>

</ul>
<hr />



<% end %>


<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts_featured();
	$("#content").css("width","553px");
});
</script>
<% end %>

