<% form_for :user, @user, :url => {:action => 'user_create'} do |f| %>
	 <%= f.error_messages :header_message => "#{@user.errors.size} errors prevented this contact form frmo being sent" 
		%> 
		<table id="column1">
			<tr>
				<td><h3>Login</h3></td><td class="spacer"></td>
				<td> <%= f.text_field(:login, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Full Name</h3></td><td class="spacer"></td>
				<td> <%= f.text_field(:name, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Telephone</h3></td><td class="spacer"></td>
				<td><%= f.text_field(:telephone, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Email</h3></td><td class="spacer"></td>
				<td><%= f.text_field(:email, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Password</h3></td><td class="spacer"></td>
				<td><%= f.password_field(:password, :size => 20) %></td>
			</tr>	
			<tr>
				<td><h3>Confirm</h3></td><td class="spacer"></td>
				<td><%= f.password_field :password_confirmation,:size => 20 %></td>
			</tr>	
				<tr>
					<td></td><td class="spacer"></td>
					<td>
						
						<h3>CONFIRM MAILING LIST SUBSCRIPTION</h3>
						<p style="width:250px"><%= f.check_box(:mailing) %>Tick to Join our Mailing List and receive alerts on new properties as they hit the market 						</p>
					</td>
				</tr>
			</table>

<hr />


<%= submit_tag "submit" %>
<% end %>


<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts_featured();
});
</script>
<% end %>
