
<table style="color:#4d4d4d;font-size:12px;float:left;margin-left:15px">
<thead>
	<tr>
		<th></th>
		<th><h3><b>City</b></h3></th>
		<th></th>
		<th><h3><b>National</b></h3></th>
	</tr>
</thead>
<tbody>
<tr style="border-bottom: 1px solid #e1e1e1;">
	<td style="padding:10px 10px 10px 0px;"><h3><b><%= @demographics["response"][0]["pages"][0]["page"][0]["name"][0] %></b></h3></td>
</tr>
<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][0]["name"][0] %></td>

	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][0]["values"][0]["city"][0]["value"][0]["content"], :precision => 0,:unit => "")
 %></td>
	<td>
	</td>
	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][0]["values"][0]["nation"][0]["value"][0]["content"], :precision => 0,:unit => "")
 %>
</td>	
</tr>

<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][1]["name"][0] %></td>

	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][1]["values"][0]["city"][0]["value"][0]["content"], :precision => 0)
 %></td>
	<td>
	</td>
	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][1]["values"][0]["nation"][0]["value"][0]["content"], :precision => 0)
 %>
</td>	
</tr>
<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][2]["name"][0] %></td>

	<td><%=  number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][2]["values"][0]["city"][0]["value"][0]["content"], :precision => 0)
 %></td>
	<td>
	</td>
	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][2]["values"][0]["nation"][0]["value"][0]["content"], :precision => 0)
 %>
</td>	
</tr>
<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][3]["name"][0] %></td>

	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][3]["values"][0]["city"][0]["value"][0]["content"], :precision => 0)
 %></td>
	<td>
	</td>
	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][3]["values"][0]["nation"][0]["value"][0]["content"], :precision => 0)
 %>
</td>	
</tr>
<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][4]["name"][0] %></td>

	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][4]["values"][0]["city"][0]["value"][0]["content"], :precision => 0)
 %></td>
	<td>
	</td>
	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][4]["values"][0]["nation"][0]["value"][0]["content"], :precision => 0)
 %>
</td>	
</tr>
<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][5]["name"][0] %></td>

	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][5]["values"][0]["city"][0]["value"][0]["content"], :precision => 0)
 %></td>
	<td>
	</td>
	<td><%= number_to_currency(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][5]["values"][0]["nation"][0]["value"][0]["content"], :precision => 0)
 %>
</td>	
</tr>
<tr>
	<td width="250px"><%= @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][6]["name"][0] %></td>
	<td><%= number_to_percentage(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][6]["values"][0]["city"][0]["value"][0]["content"], :precision => 4)%></td>
	<td>
	</td>
	<td><%= number_to_percentage(@demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"][6]["values"][0]["nation"][0]["value"][0]["content"], :precision => 4)
 %>
</td>	
</tr>

<tr style="border-bottom: 1px solid #e1e1e1;">
	<td style="padding:10px 10px 10px 0px;"><h3><b><%= @demographics["response"][0]["pages"][0]["page"][1]["name"][0] %></b></h3></td>
</tr>

<% for att1 in @demographics["response"][0]["pages"][0]["page"][1]["tables"][0]["table"][0]["data"][0]["attribute"] %>
	<%= render :partial =>"table_zillow", :object =>att1 %> 
<% end %>


<tr style="border-bottom: 1px solid #e1e1e1;">
	<td style="padding:10px 10px 10px 0px;"><h3><b><%= @demographics["response"][0]["pages"][0]["page"][2]["name"][0] %></b></h3></td>
</tr>

<% for att2 in @demographics["response"][0]["pages"][0]["page"][2]["tables"][0]["table"][0]["data"][0]["attribute"] %>
	<%= render :partial =>"table_zillow", :object =>att2 %> 
<% end %>
</tbody>
</table>
<hr/>
<img src="http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_200x50.gif" width="200" height="50" alt="Zillow Real Estate Search" style="float:right;"/>	
<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts();

	$("#content").css("width","553px");
});
</script>
<% end %>

