
<table style="color:#4d4d4d;font-size:12px;float:left">
<% for att in @demographics["response"][0]["pages"][0]["page"][0]["tables"][0]["table"][0]["data"][0]["attribute"] %>
<tr>
	<td width="250px"><%= att["name"] %></td>

	<td><% z = att["values"][0]["city"].to_a %></td>
	
</tr>
<% end %>


<tr style="border-bottom: 1px solid #e1e1e1;">
	<td style="padding:10px"><%= @demographics["response"][0]["pages"][0]["page"][1]["name"][0] %></td>
</tr>
<% for att1 in @demographics["response"][0]["pages"][0]["page"][1]["tables"][0]["table"][0]["data"][0]["attribute"] %>
	<%= render :partial =>"table_zillow", :object =>att1 %> 
<% end %>


<tr style="border-bottom: 1px solid #e1e1e1;">
	<td style="padding:10px"><%= @demographics["response"][0]["pages"][0]["page"][2]["name"][0] %></td>
</tr>

<% for att2 in @demographics["response"][0]["pages"][0]["page"][2]["tables"][0]["table"][0]["data"][0]["attribute"] %>
	<%= render :partial =>"table_zillow", :object =>att2 %> 
<% end %>

</table>

