
<div id="side-nav">
	<ul>
		<li><%= link_to "back", :back %></li>
	</ul>
</div>

<div id="subcontent">
	<h1>Editing user with id <%= @user.id %></h1>
	<% form_for @user, :url => {:action => "update"}  do |f| %>	
	 <%= f.error_messages %> 
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Update' %>
	  </p>
	<% end %>

</div>	
