<div id="side-nav">
	<ul>
		<li><%= link_to 'back',  :back %></li>
		<li><%= link_to 'import from csv',  admin_import_users_path %></li>
		<li><%= link_to 'list csv imports',  admin_list_csvs_path %></li>
		<li><%= link_to 'mail out to csv',  "#" %></li>

	</ul>
</div>

	<h1>Listing users</h1>
	<div id="itsthetable">
	<table>
	  <thead>
	    <th class="tableheader">id</th>
	
	    <th class="tableheader">login</th>
		
	    <th class="tableheader">Role</th>

	    <th class="tableheader">Language</th>
		
		  <th class="tableheader">Options</th>
	  </thead>

	<% @users.each do |user| %>
	  <tr>
	    <td class="tableheader"><%= user.id %></td>
			
	    <td class="tableheader"><%= user.login %></td>

		<td class="tableheader"><% for role in user.roles %> <%= role.name %> - <% end %></td>
		
	    <td class="tableheader"><%= user.language %></td>
		
		<td>
			<%= link_to image_tag ('system/buttons/edit.jpg', :height => "15px", :title => "edit"),edit_admin_user_path(user) %> |
			<%= link_to image_tag ('system/buttons/delete.jpg', :height => "15px", :title => "edit"),admin_user_path(user),:method=>"delete" %>
		</td>
	  </tr>
	<% end %>
	</table>

</div>	
