<div id="fragment-1">
	<hr/>
	<p>
		  <%= f.label :featured %><br/>
	  	  <%= f.check_box(:featured)
		   %>
	</p>
	<hr/>
	<p>
		  <%= f.label :mls_id %><br/>
	  <%= f.text_field :mls_id %>
	</p>
	<p>
		  <%= f.label :property_number %><br/>
	  <%= f.text_field :property_number %>
	</p>
	<hr/>
	<p>
		  <%= f.label :location_id %><br/>
	  	  <%= f.select(:location_id, Location.find(:all, :conditions =>['county=?','Orange'],:order => "region").collect {|p| [ ' ('+p.zipcod+') '+p.region, p.id ] })
		   %>
	</p>
	<hr/>
	<p>
		  <%= f.label :type_id %><br/>
	  	  <%= f.select(:type_id, Type.all.collect {|p| [ p.title, p.id ] }, {:include_blank => '-'})
		   %>
	</p>
	<p>
		  <%= f.label :rental %><br/>
	  	  <%= f.check_box(:rental)
		   %>
	</p>
	<p>
		  <%= f.label :title %><br/>
	  <%= f.text_field :title %>
	</p>
	<p>
		  <%= f.label :price %><br/>
	  <%= f.text_field :price %>
	</p>
	<p>
		  <%= f.label :address %><br/>
	  <%= f.text_field :address %>
	</p>
		<hr/>
	</div>
<div id="fragment-2">
			<hr/>
	<p>
		  <%= f.label :description %><br/>
	  <%= f.text_area :description %>
	</p>

	<p>
		  <%= f.label :bedrooms %><br/>
	  <%= f.select(:bedrooms,1...12) %>
	</p>
	<p>
		  <%= f.label :half_bathrooms %><br/>
	  <%=  f.select(:half_bathrooms,1...10) %>
	</p>
	<p>
		  <%= f.label :bathrooms %><br/>
	  <%=  f.select(:bathrooms,1...15) %>
	</p>
	<p>
	  <%= f.label :living_areas %><br/>
	  <%=  f.select(:living_areas,1...4) %>
	</p>
	<p>
	  <%= f.label :garage %><br/>
	  <%=  f.select(:garage,1...8) %>
	</p>

	<hr/>
	<p>
		  <%= f.label :built %><br/>
	  <%= f.text_field :built, :size => "4"%> sqft
	</p>
	<p>
		  <%= f.label :plot %><br/>
	  <%= f.text_field :plot, :size => "4" %> sqft
	</p>
	<p>
		  <%= f.label :garden %><br/>
	  <%= f.text_field :garden, :size => "4" %> sqft
	</p>
	<hr />
	<p>	Facility list</br>
 	
	<div id="my-id" style="float:left">
	<%= collection_multiple_select('property','facility_ids', Facility.find(:all), :id, :title,:outer_class =>"form_list")%>
	</div>
	</p>

	<div style="float:left;width:100%">
	<hr/>
	<p>
		  <%= f.label :youtube %><br/>
	  <%= f.text_field :youtube, :size => "4" %> 
	</p>
	<hr/>
	</div>
	<div style="float:left;width:100%">
	<hr/>
	<p>
		  <%= f.label :pdf %><br/>
	  <%= f.file_field :pdf %> 
	</p>
	<hr/>
	</div>
	  <p  style="float:left">
	    <%= f.submit 'Create' %>
	  </p>
</div>
<!--- If featured-->



