	<tr>
		<td> <%= property.location.region %> </td>

		<td> <%= property.title %> </td>

		<td> <%= property.featured %> </td>

		<td> <%= property.type.title %> </td>

		<td> <%= property.rental %> </td>

		<td> <%=  number_with_delimiter(property.price) %></td>

		<td width="250"> <%= truncate(property.description, 30) %> </td>

		<td> <%= property.bedrooms %>  </td>

		<td> <%= property.bathrooms %></td>

		<td><%= property.living_areas %> </td>

		<td> <%= property.built %> </td>

		<td> <%= property.plot %> </td>

		<td> <%= property.garden %></td>

		<td> <%= property.garage %></td>

		<td>
				<%= link_to image_tag ('system/buttons/search.jpg', :height => "15px", :title => "view"), admin_property_path(property) %>  
				<%= link_to image_tag ('system/buttons/edit.jpg', :height => "15px", :title => "edit"), edit_admin_property_path(property) %> 
				<%= link_to image_tag ('system/buttons/delete.jpg',:height => "15px",:title => "delete"), admin_property_path(property), :confirm => 'Are you sure?', :method => :delete %>
			
			<% if property.gallery %>
				<%= link_to image_tag ('system/buttons/gallery.png', :height => "15px", :title =>"Gallery"), admin_gallery_path(property.gallery) %>
			<% else %>
				<%= link_to image_tag ('system/buttons/gallery.png', :height => "15px", :title =>"Gallery"), :controller => "galleries",:action=>"new",:property_id=>property %>
			<% end %>

			
			<% if property.featured %>
				<% if property.featured_gallery %>
					<%= link_to image_tag ('system/buttons/star.jpg', :height => "15px", :title =>"Featured"), admin_featured_path( property.featured_gallery) %>
				<% else %>
					<%= link_to image_tag ('system/buttons/star.jpg', :height => "15px", :title =>"New Featured"), :controller => "featured",:action=>"new",:property_id=>property %>
				<% end %>
			<% end %>
				
		</td>
	</tr>

