	<tr>
		<td> <%= property.location.region %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.title %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.featured %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.type.title %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.rental %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%=  number_with_delimiter(property.price) %></td>
		<td>&nbsp;|&nbsp;</td>
		<td width="250"> <%= truncate(property.description, 30) %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.bedrooms %>  </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.bathrooms %></td>
		<td>&nbsp;|&nbsp;</td>
		<td><%= property.living_areas %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.built %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.plot %> </td>
		<td>&nbsp;|&nbsp;</td>
		<td> <%= property.garden %></td>
		<td>&nbsp;|&nbsp;</td>
		<td>
				<%= link_to image_tag ('system/buttons/search.jpg', :height => "15px", :title => "view"), admin_property_path(property) %> | 
				<%= link_to image_tag ('system/buttons/edit.jpg', :height => "15px", :title => "edit"), edit_admin_property_path(property) %> | 
				<%= link_to image_tag ('system/buttons/delete.jpg',:height => "15px",:title => "delete"), admin_development_path(property), :confirm => 'Are you sure?', :method => :delete %>
			
			<% if property.gallery %>
				<%= link_to image_tag ('system/buttons/gallery.png', :height => "15px", :title =>"Gallery"), admin_gallery_path(property.gallery) %>
			<% else %>
				<%= link_to image_tag ('system/buttons/gallery.png', :height => "15px", :title =>"Gallery"), :controller => "galleries",:action=>"new",:property_id=>property %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td></td>
	</tr>