<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<%= display_meta_tags %>	
    <%= stylesheet_link_tag "screen","envnpb_backend","ui.tabs.css","sexylightbox","orangebrownie" %>
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	    }
#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background: url(images/system/bg/admin/navbar.png)
}

#nav a {
	display: block;
	width: 15em;
}

#nav li {
	float: left;
	width: 15em;
	height: 50px
	background: url(images/system/bg/admin/navbar.png)

}
#nav li ul {
	position: absolute;
	width: 15em;
	left: -999em;
}

#nav li:hover ul {
	left: auto;
}
	</style>
	<%= javascript_include_merged "admin_packaged" %>
	<script src="/javascripts/cufon.js" type="text/javascript" charset="utf-8"></script>
	<script src="/fonts/GarmdITC_BkCn_BT_400-GarmdITC_BkCn_BT_700-GarmdITC_BkCn_BT_italic_400-GarmdITC_BkCn_BT_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
	<script>
	
  	Cufon.replace('#navbar ul li.cufon-active h2', {
		  hover: false
	 });
	
	
	Cufon.replace('#navbar ul li h2', {
		   fontFamily: "GarmdITC BkCn BT",
		   color: '#818181',
		   fontSize: "12px",
		   hover: {
		   		color: 'white'
		   }
	 });


  	Cufon.replace('#navbar ul li.cufon-active h2', {
		  fontFamily: "GarmdITC BkCn BT",
		  color: 'white',
		  fontSize: "12px",
	 });
sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
		sfEls[i].onmouseover=function() {
			this.className+=" sfhover";
		}
		sfEls[i].onmouseout=function() {
			this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
		}
	}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
	</script>
	<%= yield :script %>
  </head>
  <body>
		<div id='pagewrapper'>
			<div id='header'>
				<div id="logo">
					<%# link_to (image_tag("system/logo.gif"), "/admin") %>
				</div>
				<%= render :partial => "shared/user_bar", :object => self %>
				<h1><%= I18n.locale %></h1>			    
		  	</div>
			<div id='navbar'>
				<ul>
					<%= render :partial => "shared/back_menu_new" %>
				</ul>
		  	</div>
		</div>
		<div id='content' class="clearfix">
			<% if flash[:notice] %>
		      <div id="notice"><p><%= flash[:notice] %></p></div>
		    <% end %>
      		<%= yield %>
		</div>
		<div id='footer'>
		
		</div>
  </body>
</html>
