<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<%= display_meta_tags %>	
    <%= stylesheet_link_tag "screen","envnpb_backend","ui.tabs.css","sexylightbox","orangebrownie","drop-down-menu","table_blue" %>
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	    }

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
}

#nav a {
	display: block;
	width: 10em;
	color: white
}

#nav li {
	float: left;
	width: 10em;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	background: black;		
}
#nav li ul ul {
	margin: -3em 0 0 9em;
}
#nav li:hover ul {
	left: auto;
}
#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
	left: auto;
}

input {  margin-right: 20px; margin-top: 4px; border: 1px solid #e1e1e1; }
select { border: 1px solid #e1e1e1; margin: 2px 0; }
	</style>
	<%= javascript_include_merged "admin_packaged" %>
	<%= javascript_include_tag  "jquery.tablesorter.min", "jquery.tablednd_0_5","admin" %>


<!--[if IE]>
<style type="text/css">
	#menu li {
		position:static;
	}


</style>
<![endif]--> 
	<%= yield :script %>
  </head>
  <body>
		<div id='pagewrapper'>
			<div id='header'>
				<div id="logo">
					<%# link_to (image_tag("system/logo.gif"), "/admin") %>
				</div>
				<%= render :partial => "shared/user_bar", :object => self %>
				<h1><%= I18n.locale %></h1>			    
		  	</div>
			<div id='navbar'>
				
					<%= render :partial => "shared/back_menu_new" %>
			
		  	</div>
		</div>
		<div id='content' class="clearfix">
			<% if flash[:notice] %>
		      <div id="notice"><p><%= flash[:notice] %></p></div>
		    <% end %>
      		<%= yield %>
		</div>
		<div id='footer'>
		
		</div>
  </body>
</html>
