<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<%= display_meta_tags %>	

    <%= stylesheet_link_tag "screen","envnpb_backend","ui.tabs.css","sexylightbox" %>
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	    }

	</style>
	<%= javascript_include_tag :all %>
	<script src="/fonts/AGaramond_LT_400-AGaramond_BoldOsF_400-AGaramond_LT_italic_400-AGaramond_LT_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
	
	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->
	<script>jQuery.noConflict();
	
  	Cufon.replace('#navbar ul li.cufon-active h2', {
		  hover: false
	 });
	
	
	Cufon.replace('#navbar ul li h2', {
		   fontFamily: "AGaramond LT",
		   color: '#818181',
		   fontSize: "14px",
		   hover: {
		   		color: 'white'
		   }
	 });


  	Cufon.replace('#navbar ul li.cufon-active h2', {
		  fontFamily: "AGaramond LT",
		  color: 'white',
		  fontSize: "14px",
	 });

	</script>
	<%= yield :script %>
  </head>
  <body>
		<div id='pagewrapper'>
			<div id='header'>
				<div id="logo">
					<%# link_to (image_tag("system/logo.gif"), "/admin") %>
				</div>
				<%= render :partial => "shared/user_bar", :object => self %>
				<h1><%= I18n.locale %></h1>			    
		  	</div>
			<div id='navbar'>
				<ul>
					<%= render :partial => "shared/back_menu" %>
				</ul>
		  	</div>
		</div>
		<div id='content' class="clearfix">
			<% if flash[:notice] %>
		      <div id="notice"><p><%= flash[:notice] %></p></div>
		    <% end %>
      		<%= yield %>
		</div>
		<div id='footer'>
		
		</div>
  </body>
</html>