<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="google-site-verification" content="ysbTsgOLK4J__UnJrjd8cCzrwuezCfaL4G5CsHIs7DQ" />
		<%= display_meta_tags %>

	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
 	  google.load("swfobject", "2.2");
 		google.load("jquery", "1.3.2");
  	google.load("jqueryui", "1.7.2");
	</script>
	<%= javascript_include_tag "forms","jScrollPane","jquery.mousewheel" %>
	<%= stylesheet_link_tag "screen","forms","JScrollPane" %>
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
	 <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
	<![endif]-->
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	  }
		body{

			overflow: hidden;
		}
		#contact_form{
			width:480px;
			height:475px;
			float: left;
		}
	</style>

	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->


	<script src="/javascripts/cufon.js" type="text/javascript" charset="utf-8"></script>
	<script src="/fonts/GarmdITC_BkCn_BT_400-GarmdITC_BkCn_BT_700-GarmdITC_BkCn_BT_italic_400-GarmdITC_BkCn_BT_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
	
	<link href="http://www.engelvoelkers.com/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
  </head>
  <body class="<% if controller.action_name == 'vip' || controller.action_name == 'user_create' %>vip<% end %>">
		<div id="pagewrapper">
			<div id="header">
				
				<h1><% if controller.action_name == "index" %>Contact Form<% end %>
						<% if controller.action_name == "job" %>Application Form<% end %>
						<% if controller.action_name == "buyersguide" %>Buyer's Guide <% end %>			
						<% if controller.action_name == "sellersguide" %>Seller's Guide <% end %>		
						<% if controller.action_name == "vip" %>VIP<% end %>									 
			</h1>
	<% if controller.action_name == "index" %>			
			<p style="margin-top:4px">If your interested in one of our properties/services or have any questions you can <span><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#" class="live">
		CHAT LIVE </a></span> now, call us on <span>014256256</span> or fill out the contact form below and I or one of my agents will be in contact with you soon</p>
	<% end %>
	<% if controller.action_name == "job" %>			
			<p style="margin-top:4px">If your interested in applying for one of our openings or have any questions you can <span><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#" class="live">
	CHAT LIVE </a></span> now, call us on <span>014256256</span> or fill out the contact form below and I or one of my agents will be in contact with you soon</p>
	<% end %>
	<% if controller.action_name == "vip" %>			
			<p style="margin-top:4px">If you are interested in any of our properties or have any questions please do not hesitate to
CONTACT US or why not <a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#" class="live">
		CHAT LIVE </a>now to one of our agents.</p>

<p>At Engel&Voelkers we consider all of our customers to be VIP’s but those who sign up to our
E&V VIP programme recieve a wealth of extra information ranging from special investment
opportunities to special offers from our Partners.</p>

<p>Become an E&V VIP and recieve:
<ul>
<li>Access to our exclusive Luxury Global Properties</li>
<li>Updates on Properties as soon as they hit the market</li>
<li>Up to date real estate advice</li>
<li>Invitations to Exclusive E&V partner events</li>
</ul>
</p>
	<% end %>
			</div>
			<div id="content">
				<div id="notice"></div>
				<%= yield %>
			</div>
		</div>
	<script type="text/javascript"> Cufon.now(); </script>

	<%= yield :script %>

 </body>
</html>
